dnl procs/lvd/vertex/procedures.config
dnl $zel$

proc(lvd_vertex_cycles)
proc(lvd_vertex_load_chips)
proc(lvd_vertex_calibr_ch)
proc(lvd_vertex_mode)
proc(lvd_vertex_mon_chan)
proc(lvd_vertex_dummy)
proc(lvd_vertex_seq_wait)
proc(lvd_vertex_start_init_mode)
proc(lvd_vertex_module_start)
proc(lvd_vertex_module_stop)

proc(lvd_vertex_count_chips)
proc(lvd_vertex_chip_info)
proc(lvd_vertex_info_ro_par_set)
proc(lvd_vertex_load_vata)
proc(lvd_vertex_read_vata)


proc(lvd_vertex_seq_init)
proc(lvd_vertex_mreset)
proc(lvd_vertex_ro_reset)
proc(lvd_vertex_exec_seq_func)

proc(lvd_vertex_load_sequencer)
proc(lvd_vertex_read_sequencer)
proc(lvd_vertex_fill_sequencer)

proc(lvd_vertex_load_pedestal)
proc(lvd_vertex_read_pedestal)
proc(lvd_vertex_fill_pedestal)

proc(lvd_vertex_load_threshold)
proc(lvd_vertex_read_threshold)
proc(lvd_vertex_fill_threshold)

dnl proc(lvd_vertex_load_mem_file)
proc(lvd_vertex_read_mem_file)

proc(lvd_vertex_aclk_par)
proc(lvd_vertex_dgap_len)
proc(lvd_vertex_aclk_delay)

proc(lvd_vertex_seq_csr)
proc(lvd_vertex_seq_switch)
proc(lvd_vertex_seq_count)
proc(lvd_vertex_seq_loopcount)
proc(lvd_vertex_seq_prep_ro)

proc(lvd_vertex_nrchan)
proc(lvd_vertex_noisewin)
proc(lvd_vertex_cmodval)
proc(lvd_vertex_nrwinval)

proc(lvd_vertex_adc_dac)
proc(lvd_vertex_vata_dac)
proc(lvd_vertex_vata_dac_change)
proc(lvd_vertex_write_uw)
proc(lvd_vertex_sel_chan_tp)
proc(lvd_vertex_analog_chan_tp)
proc(lvd_vertex_sample)


proc(lvd_vertex_i2c_period)
proc(lvd_vertex_i2c_delay)

proc(lvd_vertex_init_mate3)
proc(lvd_vertex_load_mate3_chip)
proc(lvd_vertex_read_mate3_reg)
proc(lvd_vertex_read_mate3_board_reg)
proc(lvd_vertex_xclk_delay)

proc(lvd_vertex_ign_va_check)

dnl proc(lvd_vertex_load_mem)
dnl proc(lvd_vertex_read_mem)

dnl proc(lvd_vertex_fill_mem)
dnl proc(lvd_vertex_check_mem)
dnl proc(lvd_vertex_mem_size)

