dnl procs/camac/discriminator/procedures.config
dnl $ZEL: procedures.config,v 1.2 2010/12/17 22:26:51 wuestner Exp $
dnl created: 2010-07-28 PW

proc(lc3420_set_threshold)
proc(lc3420_get_threshold)
proc(lc3420_set_width)
proc(lc3420_get_width)
proc(lc3420_set_mask)
proc(lc3420_get_mask)
proc(lc3420_set_tqc)
proc(lc3420_get_tqc)

proc(lc4413_set_threshold)
proc(lc4413_get_threshold)
proc(lc4413_set_mask)
proc(lc4413_get_mask)
proc(lc4413_local)
proc(lc4413_remote)
proc(lc4413_test)

proc(C894init)
proc(C894threshold)
proc(C894enable)
proc(C894pulsewidth)
proc(C894majthr)
proc(C894majlev)
proc(C894testpulse)

proc(C808init)
proc(C808threshold)
proc(C808enable)
proc(C808pulsewidth)
proc(C808deadtime)
proc(C808majthr)
proc(C808testpulse)

proc(CCF8200init)
proc(CCF8200threshold)
proc(CCF8200inhibit)
proc(CCF8200pulsewidth)
proc(CCF8200testpulse)
