dnl $ZEL: procedures.config,v 1.6 2009/04/01 16:25:57 wuestner Exp $

proc(msync_init)
proc(msync_width)
proc(msync_pause)
proc(msync_resume)
proc(msync_start)
proc(msync_stop)
proc(msync_evc)
proc(osync_init)
proc(osync_sram_fill)
proc(osync_sram_dump)
proc(osync_sram_set)
proc(osync_sram_get)
proc(osync_sram_setbits)
proc(osync_sram_resbits)
proc(osync_sram_bitmasks)
proc(osync_sram_check)
proc(osync_evc)
proc(lvd_sync_statist_clear)
proc(lvd_sync_statist_dump)
proc(lvd_get_sync_statist)
dnl proc(lvd_sync_statist_flags)
