#include "vcc.inc"
%undef EVENT_BUFBEG
%undef EVENT_BUFEND
%undef DATAOUT_SIMPLE

dummyprozeduren = $(immerdummys)

%define MAX_DATAOUT 5

#include "emout.inc"

kommunikation = SOCKET
%define DEFPORT 2048
%define DEBUG
startimpulse += CAMAC/FSC CAMAC/GSI GENERAL
gruppen += CAMAC/FERA GENERAL/STRUCT CAMAC/LEX
