/******************************************************************************
*                                                                             *
* cam_sock.config                                                             *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 20.03.95                                                                    *
*                                                                             *
******************************************************************************/

lowlevel = BUSTRAP
#define nonVAROUT

#include "vcc.inc"

%define USE_SSM

%define DEBUG
%define PROCPROPS

commu = SOCKET
%define DEFPORT 2048
%undef EVENT_MAX
%define EVENT_MAX 4096
%undef READOUT_PRIOR
%define READOUT_PRIOR 1600

trigger += CAMAC/FSC CAMAC/GSI GENERAL
procs += CAMAC/FERA CAMAC/TDC CAMAC/SCALER CAMAC/TRIGGER GENERAL/STRUCT TEST GENERAL/VARS CAMAC/CAENNET

extralibs += $(BERKLIB)
extralflags = -g -Fl68s1000
