/******************************************************************************
*                                                                             *
* cam_pipe.config                                                             *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 28.11.94                                                                    *
*                                                                             *
******************************************************************************/

lowlevel = BUSTRAP

#include "vcc.inc"

%define DEBUG

%define DEFPORT "/pipe/comm"
%undef EVENT_MAX
%define EVENT_MAX 4096
%undef READOUT_PRIOR
%define READOUT_PRIOR 1600

trigger += CAMAC/FSC CAMAC/GSI GENERAL
procs += CAMAC/FERA CAMAC/TDC CAMAC/SCALER CAMAC/TRIGGER GENERAL/STRUCT TEST GENERAL/VARS CAMAC/CAENNET

extralibs += $(BERKLIB)
extralflags = -g
