#include "vcc.inc"

%define DEBUG

%define DEFPORT "/pipe/comm"
%undef EVENT_MAX
%define EVENT_MAX (32*1024)
%undef READOUT_PRIOR
%define READOUT_PRIOR 1600
%undef OUT_MAX
%define OUT_MAX (25*1024)

trigger += CAMAC/FSC CAMAC/GSI GENERAL
procs += CAMAC/FERA CAMAC/TDC CAMAC/SCALER CAMAC/TRIGGER GENERAL/STRUCT TEST GENERAL/VARS CAMAC/CAENNET

extralibs += $(BERKLIB)
extralflags = -g -Fl68s200
