#include "vcc.inc"

commu = SOCKET
%define DEFPORT 2048
%undef EVENT_MAX
%define EVENT_MAX 4096
%undef READOUT_PRIOR
%define READOUT_PRIOR 1600

%undef OPTIMIERT
%define USE_PROFILE

trigger += CAMAC/FSC CAMAC/GSI GENERAL
procs += CAMAC/FERA CAMAC/TDC CAMAC/TRIGGER GENERAL/STRUCT TEST GENERAL/VARS CAMAC/CAENNET
lowlevel += PROFILE
profilelib = lwport

extralibs += $(BERKLIB)
extralflags = -g
