#include "vcc.inc"

commu = SOCKET
%define DEFPORT 2048
%undef EVENT_MAX
%define EVENT_MAX (32*1024)
%undef READOUT_PRIOR
%define READOUT_PRIOR 400
%undef OUT_MAX
%define OUT_MAX (25*1024)
%undef OPTIMIERT

trigger += CAMAC/FSC CAMAC/GSI GENERAL
procs += CAMAC/FERA CAMAC/TDC CAMAC/SCALER CAMAC/TRIGGER GENERAL/STRUCT GENERAL/VARS

/*extralibs += $(BERKLIB)*/
extralflags = -g -Fl68s200
%define DEBUG