/******************************************************************************
*                                                                             *
* camdummy.config                                                             *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 12.04.94 ???                                                                *
*                                                                             *
******************************************************************************/

#define NODATAOUT
lowlevel = BUSTRAP

%define USE_SSM

#include "vcc.inc"
%undef EVENT_MAX
%define EVENT_MAX 20480

commu = SOCKET
%define DEFPORT 2048

/* %define DEBUG */
%undef OPTIMIERT
%define USE_PROFILE

trigger += CAMAC/FSC CAMAC/GSI GENERAL
procs += CAMAC/FERA CAMAC/TRIGGER GENERAL/STRUCT
lowlevel += PROFILE OSCOMPAT
profilelib = dummy

%undef READOUT_PRIOR
%define READOUT_PRIOR 1600

extralflags = -Fl68s1000

%define DEBUG
