/******************************************************************************
*                                                                             *
* fb_new.config                                                               *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 22.03.95                                                                    *
*                                                                             *
******************************************************************************/

#include "chi.inc"

%undef READOUT_PRIOR
%define READOUT_PRIOR 1600

%define OPTIMIERT
%define PROCPROPS
%define TEST_ML

procs += TEST GENERAL/RAW CHI/TRIGGER FASTBUS/FB_LECROY FASTBUS_N

trigger += CHI/GSI

lowlevel = BUSTRAP CHI_GSI CHI_NEU

extralibs += $(BERKLIB)

extralflags = -g -Fl68s1000

/*****************************************************************************/
/*****************************************************************************/
