/******************************************************************************
*                                                                             *
* chidoor.config                                                              *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 27.01.94                                                                    *
*                                                                             *
******************************************************************************/

#define NODATAOUT

#include "chi.inc"

%define DEBUG

gruppen += GENERAL/STRUCT FASTBUS TEST

startimpulse = CHI_EXT_PRIMITIV

