/******************************************************************************
*                                                                             *
* chimaere_chi.config                                                         *
*                                                                             *
* 24.03.94                                                                    *
*                                                                             *
******************************************************************************/

#include "chimaere.inc"

%undef HANDLERCOMSIZE
%define HANDLERCOMSIZE (64*1024)
%define NETPROBLEM

%define DEBUG

startimpulse += CHI/GSI
gruppen += FASTBUS/TRIGGER GENERAL/RAW

