/******************************************************************************
*                                                                             *
* chimaere_cam.config                                                         *
*                                                                             *
* 25.03.94                                                                    *
*                                                                             *
******************************************************************************/

#include "chimaere.inc"

%undef HANDLERCOMSIZE
%define HANDLERCOMSIZE (64*1024)
%define NETPROBLEM

%define DEBUG

startimpulse += CAMAC CAMAC/FSC CAMAC/GSI
gruppen += CAMAC GENERAL/STRUCT GENERAL/RAW

%define LOWLEVEL
niedrigebene = CAMAC

