/******************************************************************************
*                                                                             *
* chimaere.config                                                             *
*                                                                             *
* 18.03.94                                                                    *
*                                                                             *
******************************************************************************/

#include "chimaere.inc"

%undef HANDLERCOMSIZE
%define HANDLERCOMSIZE (64*1024)
%define NETPROBLEM
commu = SOCKET.GATEWAY
%define DEBUG
