/******************************************************************************
*                                                                             *
* chimaere.config                                                             *
*                                                                             *
* 11.05.95                                                                    *
*                                                                             *
******************************************************************************/

#include "chimaere.inc"

%undef HANDLERCOMSIZE
%define HANDLERCOMSIZE (64*1024)

%define DEBUG

extralflags = -g -Fl68s1000
