/******************************************************************************
*                                                                             *
* chips.config                                                                *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 15.06.94    /    mod: 02.12.94 le                                           *
*                                                                             *
******************************************************************************/

#include "chi.inc"

%define DEBUG
%define TEST_ML

procs += TEST CHI/TRIGGER FASTBUS/FB_CHIPS FASTBUS_N FASTBUS/FB_LECROY

trigger += CHI_EXT CHI/GSI

lowlevel = BUSTRAP CHI_GSI CHI_NEU CHI_R_NEU

extralflags = -g -Fl68s1000

extralibs += $(BERKLIB)
