/******************************************************************************
*                                                                             *
* chi_e11.config                                                              *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 06.04.94                                                                    *
*                                                                             *
******************************************************************************/

#include "chi.inc"

%undef LOWLEVEL
%define DEBUG

invokationen = READOUT_CCT

gruppen += TEST GENERAL/RAW CHI/TRIGGER

startimpulse += CHI/GSI

