#include "defaults.inc"

%define READOUT_PRIOR 100

%define EVENT_MAX 1024

%define DEBUG
%define DEFPORT 2048

commu = socket

%define OBJ_PI
%define PI_READOUT

%define MAX_DATAIN 5
%define MAX_DATAOUT 5

%define OBJ_DOMAIN
%define DOM_DATAIN
%define DOM_DATAOUT
%define DOM_EVENT

%define DATAOUT_MULTI
%define NOLAMPOLL

%define LOWLEVEL

objects = pi domain
invocations = readout_em
domains = event datain dataout
dataout = ringbuffers
lowlevel = oscompat
%define EVENTBUFNAME "serverout"
%define EVENT_BUFBEG 0
%define EVENT_BUFEND 50000

dummyprocs = $(isdummys) $(procdummys) $(vardummys) $(dodummys)  $(immerdummys)
