/******************************************************************************
*                                                                             *
* drams.config                                                                *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 05.04.94                                                                    *
*                                                                             *
******************************************************************************/

#include "vcc.inc"

%undef OPTIMIERT
%undef MAX_LAM
%undef PI_LAM
%undef DOM_LAM
%define NOLAMPOLL

%define DEBUG
%define ISVARS
%define DEFPORT "/pipe/comm"

domaenen = ml trigger event dataout
invokationen = READOUT_CCT

startimpulse += CAMAC/DRAMS CAMAC/GSI GENERAL
gruppen += CAMAC/TRIGGER GENERAL/STRUCT TEST CAMAC/DRAMS

