/******************************************************************************
*                                                                             *
* drams.config                                                                *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 27.01.95                                                                    *
*                                                                             *
******************************************************************************/

#include "vcc.inc"

%define USE_SSM

%undef OPTIMIERT
%undef MAX_LAM
%undef PI_LAM
%undef DOM_LAM
%define NOLAMPOLL

%define DEBUG
%define ISVARS
%define PROCPROPS

commu = SOCKET
%define DEFPORT 2048

domains = ml trigger event dataout
invocations = READOUT_CC

trigger += CAMAC/GSI GENERAL CAMAC/C219
procs += CAMAC/TRIGGER GENERAL/STRUCT TEST CAMAC/DRAMS CAMAC/SCALER
lowlevel += BUSTRAP OSCOMPAT

extralflags = -g
extralibs += $(BERKLIB)
