/******************************************************************************
*                                                                             *
* drams_chimf.config                                                          *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 08.09.94                                                                    *
*                                                                             *
******************************************************************************/

#include "vcc.inc"

%undef OPTIMIERT
%undef MAX_LAM
%undef PI_LAM
%undef DOM_LAM
%define NOLAMPOLL

%undef EVENT_MAX
%define EVENT_MAX 10240
%undef HANDLERCOMSIZE
%define HANDLERCOMSIZE (EVENT_MAX)
%define MAX_DATAOUT 5
%define OBJ_DO

%undef DATAOUT_SIMPLE
%define DATAOUT_MULTI

%define SOCKETHANDLER "insocket"
%define LOCALSOCKETHANDLER "inlocalsocket"
%define FILEHANDLER "infile"
%define TAPEHANDLER "aufexa"
%define NULLHANDLER "hauwech"
%define HANDLERCOMNAME "handlercom"

%define DEBUG
%define ISVARS

commu = SOCKET
%define DEFPORT 2048

domains = ml trigger event dataout
invocations = READOUT_CC

objects += DO
dataout = RINGBUFFERS

trigger += CAMAC/DRAMS CAMAC/GSI GENERAL
procs += CAMAC/TRIGGER GENERAL/STRUCT TEST CAMAC/DRAMS CAMAC/SCALER TILEFORTH
lowlevel += OSCOMPAT
lowlevel += TILEFORTH

extralflags = -g
extralibs += $(BERKLIB)
