/******************************************************************************
*                                                                             *
* drams_s.config                                                              *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 27.07.94                                                                    *
*                                                                             *
******************************************************************************/

#include "vcc.inc"

%undef OPTIMIERT
%undef MAX_LAM
%undef PI_LAM
%undef DOM_LAM
%define NOLAMPOLL

%define DEBUG
%define ISVARS

commu = SOCKET
%define DEFPORT 2048

domains = ml trigger event dataout
invocations = READOUT_CC

trigger += CAMAC/DRAMS CAMAC/GSI GENERAL
procs += CAMAC/TRIGGER GENERAL/STRUCT TEST CAMAC/DRAMS CAMAC/SCALER

extralflags = -g
extralibs += $(BERKLIB)
