/******************************************************************************
*                                                                             *
* fb_new.config                                                               *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 04.11.94                                                                    *
*                                                                             *
******************************************************************************/

#define NODATAOUT

#include "chi.inc"

%undef READOUT_PRIOR
%define READOUT_PRIOR 10

%define OPTIMIERT
%define PROCPROPS
%define DEBUG
%define TEST_ML

procs += TEST GENERAL/RAW CHI/TRIGGER FASTBUS_N

trigger += CHI/GSI

lowlevel = BUSTRAP CHI_GSI CHI_NEU

extralibs += $(BERKLIB)

extralflags = -g -Fl68s1000

/*****************************************************************************/
/*****************************************************************************/
