#include "defaults.inc"

%define READOUT_PRIOR 100

%define EVENT_MAX 1024

%define DEBUG
%define DEFPORT 2049

kommunikation = SOCKET

%define OBJ_VAR
%define MAX_VAR 20

%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS
%define MAX_IS 10

%define OBJ_DOMAIN
%define DOM_TRIGGER
%define MAX_TRIGGER 5
%define DOM_EVENT
%define DOM_ML

%define PROCS
%define TRIGGER

objekte = VAR PI DOMAIN IS
invokationen = READOUT_CC
domaenen = ml trigger event
startimpulse = GENERAL
gruppen = GENERAL NSE/NSE_MOTOR
datenraus = RINGBUFFER
%define EVENTBUFNAME "serverout"
%define EVENT_BUFBEG 0
%define EVENT_BUFEND 50000
%define LOWLEVEL
niedrigebene = VME 

dummyprozeduren = $(dodummys)  $(immerdummys)
