#include "defaults.inc"

commu = SOCKET
%define DEFPORT 2048

procs = GENERAL TEST/VICRAW DISKRIMINATOR
lowlevel = VICVSB

%define OBJ_IS
%define MAX_IS 5

objects += IS

extralflags = -g
%define PROCS
%define LOWLEVEL

dummyprocs = $(isrodummys) $(vardummys) $(pidummys) $(dodummys) $(domdummys) $(immerdummys)
