#include "defaults.inc"

%define READOUT_PRIOR 1000
%define MAXEVCOUNT 0
%undef  EVENT_MAX
%define EVENT_MAX 20480

%define DEBUG

commu = socket
%define DEFPORT 2048

%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 10

%undef  OUT_MAX
%define OUT_MAX 1048576

%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER

%define PROCS
%define TRIGGER
%define LOWLEVEL

objects += var pi is domain
domains += ml trigger event dataout
invocations += readout_cc
procs += general general/struct general/raw general/vars test test/console internals/sched

%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 10
dataout = stream/socket

dummyprocs = $(dodummys) $(immerdummys)

trigger += general

lowlevel += oscompat

CFLAGS = -g
extralflags = -g 
