/*
 * cc_atrap2.config
 * 03.May.2004
 */

%define DEBUG
%define NOLAMPOLL
%define SYNCSTATIST
#define SYNCSTATIST
%define SELECT_STATIST

#include "defaults.inc"

%define MAXEVCOUNT 0

%define SCHED_TRIGGER
%define SELECTCOMM

%define READOUT_PRIOR 2
%define EVENT_MAX 16380
%define DEFPORT 2048

%define CLUSTER_NUM 100
%define CLUSTERBUFFER "cc_clusters"
%define CLUSTER_MAX 16380
%define CLUSTER_MALLOC
%define EXTRA_DO_DATA

%define OBJ_VAR
%define MAX_VAR 100
/* %define ISVARS */
%define MAX_TRIGGER 16
%define MAX_IS 30
%define MAX_LAM 30

%undef  OUT_MAX
%define OUT_MAX 1048576

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 10

%define PROCS
%define TRIGGER
%define LOWLEVEL
extralflags = -g -lm

trigger = general pci/zelsync

procs = general
procs += general/struct
procs += general/vars
procs += test
procs += internals/sched
procs += internals/cluster
procs += camac/tdc
procs += camac/c219
procs += camac/scaler
procs += camac/trigger
procs += camac
procs += hlral
procs += hlral/dummy
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif

dummyprocs = $(immerdummys)
lowlevel = oscompat
lowlevel += sync/pci_zel
lowlevel += hlral
lowlevel += camac
lowlevel += rawmem
camac = pcicamac

%define HLRAL_VERSION HLRAL_ATRAP
%define HLRAL_PLX
%define HLRAL_SG_SIZE 1048576

objects = var pi domain is do
invocations = readout_cc
domains = ml trigger event dataout
commu = socket
dataout = cluster
clusterdataouts = null socket

%define PCICAMAC
%define PCICAM_MMAPPED
%define DRIVERCAMAC
