/*
 * $ZEL: cc_all_big.config,v 1.1 2016/05/12 20:32:09 wuestner Exp $
 * cc_all_debug.config
 * 2007-Sep-17 PW
 */

#define USE_DEBUG
/*#define USE_BEEF*/

#include "cc_all.config"
%undef CLUSTER_NUM
%undef EVENT_MAX
%undef CLUSTER_MAX

%define CLUSTER_NUM 4
%define EVENT_MAX   125000000 /* 125 MWords -->  .5 GByte */
%define CLUSTER_MAX 250000000 /* 250 MWords --> 1   GByte */

