/*
 * cc_beam.config
 * 26.Jun.2003
 * $ZEL: cc_beam.config,v 1.2 2007/11/06 21:33:59 wuestner Exp $
 */

%define DEBUG
%define NOLAMPOLL
%define SYNCSTATIST
#define SYNCSTATIST

#include "defaults.inc"

/* %define MAXEVCOUNT 100001 */

%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000
%define EVENT_MAX 16380
%define DEFPORT 2048

%define CLUSTER_NUM 100
%define CLUSTERBUFFER "cc_clusters"
%define CLUSTER_MAX 16380
%define CLUSTER_MALLOC
%define EXTRA_DO_DATA

%define MAX_TRIGGER 16
%define MAX_IS 30

%undef  OUT_MAX
%define OUT_MAX 1048576

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 1
%define OBJ_DO

%define PROCS
%define TRIGGER
%define LOWLEVEL
extralflags = -g -lm

trigger = general pci/zelsync

procs = general
procs += test
procs += internals/sched
procs += internals/cluster
procs += pci/trigger
procs += cosybeam
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif

dummyprocs = $(immerdummys) $(vardummys) $(modlistdummies)
lowlevel = oscompat sync/pci_zel cosybeam

objects = pi domain is do
invocations = readout_cc
domains = trigger event dataout
commu = socket
dataout = cluster
clusterdataouts = null socket file
