/*
 * cc_cl_nohard.config
 * created before 20.04.97
 * $ZEL: cc_cl_nohard.config,v 1.4 2009/08/10 21:02:20 wuestner Exp $
 */

isrodummys = DownloadReadoutList UploadReadoutList DeleteReadoutList EnableIS DisableIS GetISStatus
isdummys = $(isrodummys) CreateIS DeleteIS DownloadISModulList UploadISModulList DeleteISModulList GetISParams
procdummys = TestCommand DoCommand
vardummys = CreateVariable DeleteVariable ReadVariable WriteVariable GetVariableAttributes
pidummys = CreateProgramInvocation DeleteProgramInvocation StartProgramInvocation ResetProgramInvocation StopProgramInvocation ResumeProgramInvocation GetProgramInvocationAttr GetProgramInvocationParams
dodummys = WindDataout WriteDataout GetDataoutStatus EnableDataout DisableDataout
domdummys = DownloadDomain UploadDomain DeleteDomain
immerdummys = ResetISStatus Nothing

%define DEBUG
%define SELECTCOMM
/*%define SELECT_STATIST*/

%define MAXEVCOUNT 0

%define READOUT_PRIOR 1000
%define EVENT_MAX 16380
%define DEFPORT 2048

%define CLUSTER_NUM 10
%define CLUSTERBUFFER "chim_clusters"
%define CLUSTER_MAX 16380
%define CLUSTER_MALLOC
/*%define EXTRA_DO_DATA*/

%define TAPEHANDLER "auftape"
%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 10

%define OUT_MAX (16*1024)

%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 10
%define OBJ_DO

%define PROCS
%define TRIGGER

%define LOWLEVEL

dummyprocs = $(immerdummys)
procs = test
procs+= general/vars
procs+= general
procs+= general/struct
procs+= internals/sched
procs+= internals/cluster
procs+= tape

objects = var pi is domain do
dataout = cluster
clusterdataouts = socket null tape file
commu = socket
domains = trigger event dataout
invocations = readout_cc
lowlevel = oscompat
trigger = general

extralflags = -g -lm
