/*
 * cc_fera.config
 * 20.10.1997
 */
/*
 * $ZEL: cc_fera.config,v 1.7 2007/11/06 21:33:59 wuestner Exp $
 */

%define DEBUG
%define NOLAMPOLL
%define SYNCSTATIST
#define SYNCSTATIST
%define SELECT_STATIST

#include "defaults.inc"

/* %define MAXEVCOUNT 100001 */

%define SELECTCOMM

%define READOUT_PRIOR 1000
%define EVENT_MAX 16380
%define DEFPORT 2048

%define CLUSTER_NUM 100
%define CLUSTERBUFFER "cc_clusters"
%define CLUSTER_MAX 16380
%define CLUSTER_MALLOC
%define EXTRA_DO_DATA

%define TAPEHANDLER "auftape"
%define OBJ_VAR
%define MAX_VAR 100
/* %define ISVARS */
%define MAX_TRIGGER 16
%define MAX_IS 30
/*%define MAX_LAM 30*/

%undef  OUT_MAX
%define OUT_MAX 1048576

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC
/*%define PI_LAM*/

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
/*%define DOM_LAM*/
%define DATAOUT_MULTI
%define MAX_DATAOUT 1

%define PROCS
%define TRIGGER
%define LOWLEVEL
extralflags = -g -lm

trigger = general camac camac/fsc pci/zelsync pci/zelfera
/* trigger = general pci/zelsync1 */

procs = general
procs += general/struct
procs += general/vars
procs += test
procs += internals/sched
procs += internals/cluster
procs += camac/tdc
procs += camac/c219
procs += camac/ral
procs += camac/scaler
procs += camac/caennet
procs += camac/trigger
procs += camac
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif
procs += camac/fera
procs += camac/fera/pcicamac

dummyprocs = $(immerdummys)
lowlevel = oscompat sync/pci_zel camac/pcicamac

objects = var pi domain is do
invocations = readout_cc
/*invocations += lam*/
domains = ml trigger event dataout
/*domains += lam*/
commu = socket
dataout = cluster
clusterdataouts = null socket file

%define PCICAMAC
%define FERA
%define PCICAM_MMAPPED
%define DRIVERCAMAC
