/*
 * $ZEL: cc_jessica.config,v 1.3 2007/11/06 21:33:59 wuestner Exp $
 * 30.Sep.2003
 */

/*
%define DMALLOC
#define DMALLOC
%define DMALLOC_FUNC_CHECK
*/

%define DEBUG
%undef PERFSPECT

#include "defaults.inc"

%define MAXEVCOUNT 0
%define NO_SYNC
#define NO_SYNC

%define NOLAMPOLL
#ifndef NO_SYNC
%define SYNCSTATIST
#define SYNCSTATIST
#endif

%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000
%define EVENT_MAX 16380
/* CLUSTER_MAX in Worten gemessen */
/*%define CLUSTER_MAX 262144*/
%define CLUSTER_MAX 16384
%define DEFPORT 2048
%undef  OUT_MAX
%define OUT_MAX 1048576


%define CLUSTERTIMESTAMPS
%define CLUSTER_NUM 200

%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 32
%define EXTRA_DO_DATA

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 5

%define PROCS
%define TRIGGER
%define LOWLEVEL

extralflags = -g
extralibs += -lm
#ifdef DMALLOC
extralibs += -ldmalloc
#endif

objects  = var pi domain is do
trigger  = general
#ifndef NO_SYNC
trigger +=pci/zelsync
#endif
trigger += pci/sis1100
trigger += vme

procs  = general
procs += general/struct
procs += general/vars
procs += general/modules
procs += test
procs += test/console
procs += internals/sched
procs += internals/cluster
#ifndef NO_SYNC
procs += pci/trigger
#endif
procs += unixvme
procs += unixvme/caen
procs += unixvme/sis3400
procs += unixvme/sis3800

#ifdef SYNCSTATIST
procs+= pci/trigger/statist
#endif

dummyprocs = $(immerdummys)
lowlevel = oscompat
#ifndef NO_SYNC
lowlevel+= sync/pci_zel
#endif
lowlevel+= unixvme

unixvme = sis3100

commu = socket
domains = ml trigger event dataout
invocations = readout_cc
dataout = cluster
clusterdataouts = null socket file
