/*
 * $ZEL: cc_lvd_vme.config,v 1.2 2007/11/06 21:33:59 wuestner Exp $
 * cc_lvd_vme.config
 * 2005-Nov-20
 */

#include "defaults.inc"

/* simple configuration with [#%](define)|(undef) */

#define USE_DEBUG
#undef  USE_DMALLOC
#undef USE_PERFSPECT
#undef USE_JUMBOCLUSTER
#define CLUSTER_ALLOC malloc
#undef  USE_DELAYED_READ
#undef USE_PCISYNC
#undef USE_BEEF

%undef  TRACE
%define MAXEVCOUNT 0
%define NOLAMPOLL
%define CLUSTER_NUM 20
%undef  SIS3100_SFI_MAPPED
%undef  SIS3100_MAPPED

/* simple configuration part ends hier */

#ifdef  USE_DEBUG
%define DEBUG
#define DEBUG
#else
%undef  xxxTRACE
#endif

#ifdef  USE_DMALLOC
%define DMALLOC
#define DMALLOC
%define DMALLOC_FUNC_CHECK
#endif

#ifdef USE_PERFSPECT
%define PERFSPECT
#else
#endif

#ifdef USE_JUMBOCLUSTER
%define CLUSTER_MAX 262144
#else
%define CLUSTER_MAX 16380
#endif
%define EVENT_MAX (CLUSTER_MAX/2)

#ifdef USE_DELAYED_READ
%define DELAYED_READ
#endif

#ifdef USE_PCISYNC
%define SYNCSTATIST
#define SYNCSTATIST
#else
%define NO_SYNC
#define NO_SYNC
#endif

#ifdef USE_BEEF
%define SIS3100_SFI_DEADBEEF 
%define SIS3100_SFI_BEEF_SIZE (CLUSTER_MAX*4*8)
%define SIS3100_SFI_BEEF_MAGIC 0x5a
#endif

/* the remaining definitions can in principle left untouched */

#if defined (DMALLOC) || defined (PROFILE)
#define DEBUG
#endif

extralibs    = -lm
#ifdef DEBUG
CFLAGS      += -g
extralflags += -g
#endif
#ifdef DMALLOC
extralibs   += -ldmalloc
#endif
#ifdef PROFILE
CFLAGS      += -pg
extralflags += -pg
#endif

%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000

%define DEFPORT 2048
%undef  OUT_MAX
%define OUT_MAX 1048576

%define CLUSTERTIMESTAMPS

%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 32
%define EXTRA_DO_DATA

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
/*%define DOM_LAM*/
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 5

%define PROCS
%define TRIGGER
%define LOWLEVEL

objects  = var pi domain is do
commu = socket
domains = ml trigger event dataout
invocations = readout_cc
dataout = cluster
clusterdataouts = null socket file

trigger  = general
trigger += pci/sis1100
trigger += pci/lvd
trigger += vme
#ifdef USE_PCISYNC
trigger +=  pci/zelsync
#endif

dummyprocs = $(immerdummys)

procs  = general
procs += general/struct
procs += general/vars
/*procs += general/raw*/
procs += test
procs += test/console
procs += internals/sched
procs += internals/cluster
procs += unixvme
procs += unixvme/caen
procs += unixvme/sis3400
procs += unixvme/sis3300
procs += unixvme/sis3800
procs += lvd
procs += lvd/sis1100
procs += lvd/f1
procs += lvd/vertex
#ifdef USE_DELAYED_READ
procs += test/delayedread
#endif
#ifdef USE_PCISYNC
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif
#endif
#ifdef USE_PERFSPECT
procs+= perfspect
#endif

lowlevel  = oscompat
lowlevel += unixvme
lowlevel += lvd
lowlevel += lvd/f1
lowlevel += lvd/vertex
lowlevel += jtag
#ifdef USE_PCISYNC
lowlevel += sync/pci_zel
#endif
#ifdef USE_PERFSPECT
lowlevel += perfspect
perfspect = zelsync
#endif

unixvme = sis3100
lvd      = sis1100
