/*
 * $ZEL: cc_pcicamac_stub.config,v 1.1 2005/04/12 19:03:17 wuestner Exp $
 * cc_pcicamac_stub.config
 * 2005-Mar-30
 */
#ifndef INCLUDED_FROM_PCICAMAC_xxx_CONFIG
#error cc_pcicamac_stub.config should not be used stand alone
#endif

%define DEBUG
#ifdef USE_PERFSPECT
%define PERFSPECT
#endif
#ifdef USE_DELAYED_READ
%define DELAYED_READ
#endif

#include "defaults.inc"

/*%define CLUSTERCHECKSUM MD5*/
%define MAXEVCOUNT 0

%define NOLAMPOLL
#ifndef NO_SYNC
%define SYNCSTATIST
#define SYNCSTATIST
#endif

%define SCHED_TRIGGER
%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000

/* CLUSTER_MAX in Worten gemessen */
#ifdef JUMBOCLUSTER
%define CLUSTER_MAX 262144
#else
%define CLUSTER_MAX 16380
#endif
%define EVENT_MAX (CLUSTER_MAX/4)

%define DEFPORT 2048
%undef  OUT_MAX
%define OUT_MAX 1048576

%define CLUSTERTIMESTAMPS
%define CLUSTER_NUM 200

%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 32
%define EXTRA_DO_DATA

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 5

%define TAPEHANDLER "auftape.pcicamac"
%define CLUSTERBUFFER "cluster.pcicamac"

%define PROCS
%define TRIGGER
%define LOWLEVEL

extralflags = -g -lm

objects  = var pi domain is do
trigger  = general
#ifndef NO_SYNC
trigger +=  pci/zelsync
#endif

procs  = general
procs += general/struct
procs += general/vars
procs += test
procs += test/console
#ifdef USE_DELAYED_READ
procs += test/delayedread
#endif
procs += internals/sched
procs += internals/cluster
#ifndef NO_SYNC
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif
#endif
procs += camac
procs += camac/tdc
procs += camac/c219
procs += camac/mlu
procs += camac/scaler
procs += camac/trigger
#ifdef USE_PERFSPECT
procs+= perfspect
#endif

dummyprocs = $(immerdummys)

lowlevel  = oscompat
#ifndef NO_SYNC
lowlevel += sync/pci_zel
#endif
lowlevel += camac
#ifdef USE_PERFSPECT
lowlevel+= perfspect
perfspect = zelsync
#endif

/*camac   = pcicamac cc16 lnxdsp sis5100*/
camac = pcicamac

commu = socket
domains = ml trigger event dataout
invocations = readout_cc
dataout = cluster
clusterdataouts = null socket file tape

/*
 * end of cc_pcicamac_stub.config
 */
