/*
 * $ZEL$
 * cc_rpi.config (for Raspberry Pi)
 * 2013-Nov-12 PW
 */

#include "defaults.inc"

/* simple configuration with [#%](define)|(undef) */

/*#undef USE_DEBUG*/ /* USE_DEBUG may be defined in files including this one */
#define USE_DEBUG
#undef  USE_DMALLOC
#undef USE_PERFSPECT
#define USE_JUMBOCLUSTER
#define CLUSTER_ALLOC malloc

%undef  TRACE
%define MAXEVCOUNT 0
%define CLUSTER_NUM 10

%define TEST_ML

%undef JTAG_DEBUG

/* simple configuration part ends hier */

#ifdef  USE_DEBUG
%define DEBUG
#define DEBUG
#else
%undef  TRACE
#endif

#ifdef  USE_DMALLOC
%define DMALLOC
#define DMALLOC
%define DMALLOC_FUNC_CHECK
#endif

#ifdef USE_PERFSPECT
%define PERFSPECT
#endif

#ifdef USE_JUMBOCLUSTER
/* 16 MByte */
%define CLUSTER_MAX 4194304
#else
%define CLUSTER_MAX 65536
#endif
%define EVENT_MAX (CLUSTER_MAX/2)

%define SYNCSTATIST


#ifdef USE_BEEF
%define USE_CLUSTER_BEEF
#endif

/* the remaining definitions can in principle left untouched */

#if defined (DMALLOC) || defined (PROFILE)
#define DEBUG
#endif

extralibs    = -lm
#ifdef DEBUG
CFLAGS      += -g
extralflags += -g
#else
CFLAGS      += -O3 -Wuninitialized
#endif
#ifdef DMALLOC
extralibs   += -ldmalloc
#endif
#ifdef PROFILE
CFLAGS      += -pg
extralflags += -pg
#endif
#ifdef USE_AIO
extralibs   += -lrt
#endif

%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000

%define DEFPORT 2048
%undef  OUT_MAX
%define OUT_MAX 1048576

%define CLUSTERTIMESTAMPS

#define _OBJ_VAR
#define _OBJ_DO
#define _OBJ_PI
#define _OBJ_IS
#define _OBJ_DOMAIN
#define _DOM_ML
#define _DOM_TRIGGER
#define _DOM_EVENT
#define _DOM_LAM
#define _DOM_DATAOUT
#define _PI_LAM
#define _PI_READOUT
#define _READOUT_CC

objects  =
domains  = 
invocations  =

#ifdef _OBJ_VAR
%define OBJ_VAR
%define MAX_VAR 100
objects += var
#endif
#ifdef _OBJ_DO
%define OBJ_DO
objects += do
#endif
#ifdef _OBJ_PI
%define OBJ_PI
%define PI_READOUT
%define PI_LAM
%define READOUT_CC
objects += pi
#endif
#ifdef _OBJ_IS
%define OBJ_IS
%define MAX_IS 32
objects += is
#endif
#ifdef _OBJ_DOMAIN
%define OBJ_DOMAIN
objects += domain
#ifdef _DOM_ML
%define DOM_ML
domains += ml
#endif
#ifdef _DOM_TRIGGER
%define DOM_TRIGGER
#if 0
%define MAX_TRIGGER 16
#else
%define MAX_TRIGGER 0x10000
#endif
%define TRIGGER
domains += trigger
#endif
#ifdef _DOM_EVENT
%define DOM_EVENT
domains += event
#endif
#ifdef _DOM_LAM
%define DOM_LAM
domains += lam
#endif
#ifdef _DOM_DATAOUT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 5
%define EXTRA_DO_DATA
domains += dataout
dataout = cluster
clusterdataouts = null socket file
#ifdef USE_AIO
clusterdataouts += asynchfile
#endif
#endif
#endif /* OBJ_DOMAIN */
#ifdef _PI_LAM
invocations += lam
#endif
#ifdef _PI_READOUT
#ifdef _READOUT_CC
invocations += readout_cc
#endif
#endif

commu = socket

trigger  = general

%define PROCS
dummyprocs = $(immerdummys)
/*procs += general/raw*/
procs  = general
procs += general/struct
procs += general/vars
procs += general/crates
procs += general/modules
procs += cosybeam
procs += mmapped_data
procs += dataout
procs += internals/sched
procs += test
procs += test/console
procs += sync
#ifdef USE_PERFSPECT
procs+= perfspect
#endif

%define LOWLEVEL
lowlevel  = oscompat
lowlevel += cosybeam
lowlevel += mmapped_data
lowlevel += sync
#ifdef USE_PERFSPECT
lowlevel += perfspect
#endif
#ifdef USE_AIO
lowlevel += asynch_io
%define AIO_BUFSIZE (4*1024*1024)
%define AIO_BUFNUM 128
#endif
