/*
 * cc_sfi_nanobridge.config
 * created before 30.10.1997
 * $ZEL: cc_sfi_nanobridge.config,v 1.3 2007/11/06 21:33:59 wuestner Exp $
 */

#include "defaults.inc"

%define DEBUG
%define NOLAMPOLL
%define SYNCSTATIST
#define SYNCSTATIST

/*%define MAXEVCOUNT 110000*/

%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000
%define EVENT_MAX 16380
/* CLUSTER_MAX in Worten gemessen */
%define CLUSTER_MAX 16380
%define DEFPORT 2048

%define CLUSTER_NUM 10
%define CLUSTERBUFFER "cc_clusters"
%define TAPEHANDLER "auftape"
%define OBJ_VAR
%define MAX_VAR 100
%define ISVARS
%define MAX_TRIGGER 16
%define MAX_IS 32
%define EXTRA_DO_DATA

%undef  OUT_MAX
%define OUT_MAX 262144

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 1

%define PROCS
%define TRIGGER
%define LOWLEVEL

%define FBBUFSIZE 16380
%define SFIFASTBUS
%define SFIMAPPED
%define SFISWAP
%define TEST_ML

/* NO LOWLEVELBUFFER */

extralflags = -g -lm

objects = var pi domain is do
trigger = general pci/zelsync

procs = general
procs+= general/struct
procs+= general/vars
procs+= test
procs+= test/console
procs+= internals/sched
procs+= internals/cluster
procs+= pci/trigger
#ifdef SYNCSTATIST
procs+= pci/trigger/statist
#endif
procs+= fastbus/general
procs+= fastbus/fb_lecroy
procs+= fastbus/sfi
procs+= fastbus/test_sfi

dummyprocs = $(immerdummys)
lowlevel = oscompat
lowlevel+= sync/pci_zel
lowlevel+= fastbus/sfi

commu = socket
domains = ml trigger event dataout
invocations = readout_cc
dataout = cluster
clusterdataouts = null socket file
