/*
 * $ZEL: cc_all.config,v 1.32 2016/11/26 01:19:14 wuestner Exp $
 * cc_all.config
 * 2007-Jun-23 PW
 */

#include "defaults.inc"

/* simple configuration with [#%](define)|(undef) */

/*#undef USE_DEBUG*/ /* USE_DEBUG may be defined in files including this one */
#define USE_DEBUG
#undef  USE_DMALLOC
#undef USE_PERFSPECT
#define USE_JUMBOCLUSTER
#define USE_DDMA_EVENTS
#define CLUSTER_ALLOC malloc
#define  USE_DELAYED_READ
#undef USE_BEEF /* USE_BEEF may be defined in files including this one */
#define USE_FERA
#define USE_AIO

%undef  TRACE
%undef  LVD_TRACE
%define MAXEVCOUNT 0
%define NOLAMPOLL
%define CLUSTER_NUM 10

#ifdef DO_ALL_UNMAPPED
%undef SIS3100_SFI_MAPPED
%undef SIS3100_MAPPED
%undef LVD_SIS1100_MMAPPED
%undef PCICAM_MMAPPED
%undef SIS5100_MMAPPED
#else
%define SIS3100_SFI_MAPPED
%define SIS3100_MAPPED
%define LVD_SIS1100_MMAPPED
%define PCICAM_MMAPPED
%define SIS5100_MMAPPED
#endif

%undef JTAG_DEBUG


/* simple configuration part ends hier */

#ifdef  USE_DEBUG
%define DEBUG
#define DEBUG
%define LVD_TRACE
#else
%undef  xxxTRACE
#endif

#ifdef  USE_DMALLOC
%define DMALLOC
#define DMALLOC
%define DMALLOC_FUNC_CHECK
#endif

#ifdef USE_PERFSPECT
%define PERFSPECT
#endif

#ifdef USE_FERA
#define USE_ZELFERA
%define FERA
%define ZELFERA
#endif

#ifdef USE_DDMA_EVENTS
%define EVENT_MAX   524288 /* 2 MiByte */
%define CLUSTER_MAX 655360 /* 2.5 MiByte */
#else
#  ifdef USE_JUMBOCLUSTER
/* 16 MByte */
%define CLUSTER_MAX 4194304
#  else
/*%define CLUSTER_MAX 16380*/
%define CLUSTER_MAX 65536
#  endif
%define EVENT_MAX (CLUSTER_MAX/2)
#endif

#ifdef USE_DELAYED_READ
%define DELAYED_READ
#endif

%define SYNCSTATIST

#ifdef USE_HLRAL_ANKE
%define HLRAL_VERSION HLRAL_ANKE
#else
%define HLRAL_VERSION HLRAL_ATRAP
#endif

#ifdef USE_BEEF
%define SIS3100_SFI_DEADBEEF 
%define SIS3100_SFI_BEEF_SIZE (CLUSTER_MAX*4*8)
%define SIS3100_SFI_BEEF_MAGIC 0x5a
%define USE_CLUSTER_BEEF
#endif

///////////////////////////////////////////////////////////////
/* the remaining definitions can in principle left untouched */
///////////////////////////////////////////////////////////////

//// compiler options ////
#if defined (DMALLOC) || defined (PROFILE)
#define DEBUG
#endif

extralibs    = -lm
#ifdef DEBUG
CFLAGS      += -g
extralflags += -g
#else
CFLAGS      += -O3 -Wuninitialized
#endif
#ifdef DMALLOC
extralibs   += -ldmalloc
#endif
#ifdef PROFILE
CFLAGS      += -pg
extralflags += -pg
#endif
#ifdef USE_AIO
extralibs   += -lrt
#endif

//// server components configuration ////
%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000

%define DEFPORT 2048
%undef  OUT_MAX
%define OUT_MAX 1048576

%define CLUSTERTIMESTAMPS

//// objects ////
#define _OBJ_VAR
#define _OBJ_DO
#define _OBJ_PI
#define _OBJ_IS
#define _OBJ_DOMAIN
#define _DOM_ML
#define _DOM_TRIGGER
#define _DOM_EVENT
#define _DOM_LAM
#define _DOM_DATAOUT
#define _PI_LAM
#define _PI_READOUT
#define _READOUT_CC

objects  =
domains  = 
invocations  =

#ifdef _OBJ_VAR
%define OBJ_VAR
%define MAX_VAR 100
objects += var
#endif
#ifdef _OBJ_DO
%define OBJ_DO
objects += do
#endif
#ifdef _OBJ_PI
%define OBJ_PI
%define PI_READOUT
%define PI_LAM
%define READOUT_CC
objects += pi
#endif
#ifdef _OBJ_IS
%define OBJ_IS
%define MAX_IS 32
objects += is
#endif
#ifdef _OBJ_DOMAIN
%define OBJ_DOMAIN
objects += domain
#ifdef _DOM_ML
%define DOM_ML
domains += ml
#endif
#ifdef _DOM_TRIGGER
%define DOM_TRIGGER
#if 0
%define MAX_TRIGGER 16
#else
%define MAX_TRIGGER 0x10000
#endif
%define TRIGGER
domains += trigger
#endif
#ifdef _DOM_EVENT
%define DOM_EVENT
domains += event
#endif
#ifdef _DOM_LAM
%define DOM_LAM
domains += lam
#endif
#ifdef _DOM_DATAOUT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 5
%define EXTRA_DO_DATA
domains += dataout
dataout = cluster
clusterdataouts = null socket file tape
#ifdef USE_AIO
clusterdataouts += asynchfile
#endif
#endif
#endif /* OBJ_DOMAIN */
#ifdef _PI_LAM
invocations += lam
#endif
#ifdef _PI_READOUT
#ifdef _READOUT_CC
invocations += readout_cc
#endif
#endif

%define TAPEHANDLER "auftape.ems"

//// commu ////
/* checked */
commu = socket
/* checked end */

//// trigger ////
/* checked */
trigger += pci/sis1100
trigger += vme
trigger += vme/sis3100
/* checked end */

//// procs ////
%define PROCS
dummyprocs = $(immerdummys)
procs  = general
procs += general/struct
procs += general/vars
procs += general/crates
procs += general/modules
procs += mmapped_data
procs += dataout
procs += hv/iseghv
procs += test
procs += test/console

/* checked */
procs += unixvme
procs += unixvme/mesytec
procs += unixvme/sis3100
procs += unixvme/sis3820
/* checked end */

#ifdef USE_DELAYED_READ
procs += test/delayedread
#endif
#ifdef USE_PERFSPECT
procs+= perfspect
#endif

//// lowlevel ////
/* checked */
%define LOWLEVEL // for lowlevel_init, lowlevel_done in server.c
/* checked end */

lowlevel += oscompat
lowlevel += mmapped_data

/* checked */
lowlevel += unixvme
unixvme = sis3100
/* checked end */

#ifdef USE_PERFSPECT
lowlevel += perfspect
#endif
#ifdef USE_AIO
lowlevel += asynch_io
%define AIO_BUFSIZE (4*1024*1024)
%define AIO_BUFNUM 128
#endif