/*
 * $ZEL: cc_sis3100_c11_delayed.config,v 1.2 2005/04/12 18:39:19 wuestner Exp $
 * cc_sis3100_c11.config
 * 09.Aug.2004
 */

#define USE_PERFSPECT
#undef JUMBOCLUSTER
#define USE_BEEF
#define USE_DELAYED_READ

%undef  SIS3100_SFI_MAPPED

#define INCLUDED_FROM_SIS3100_xxx_CONFIG
#include "cc_sis3100_stub.config"
