/*
 * cc_sync.config
 * created before 16.06.2000
 * $ZEL: cc_sync.config,v 1.6 2007/11/06 21:34:00 wuestner Exp $
 */

%define DEBUG
%define NOLAMPOLL
%define SYNCSTATIST
#define SYNCSTATIST
%define SELECT_STATIST
#define USE_PERFSPECT

#ifdef USE_PERFSPECT
%define PERFSPECT
#endif

#include "defaults.inc"

/* %define MAXEVCOUNT 100001 */

%define SELECTCOMM

%define READOUT_PRIOR 1000
%define DEFPORT 2048

%define CLUSTER_NUM 200
%define CLUSTERBUFFER "cc_clusters"
%define CLUSTER_MAX 16380
%define CLUSTER_MALLOC
%define EXTRA_DO_DATA
%define EVENT_MAX (CLUSTER_MAX/4)

%define TAPEHANDLER "auftape"
%define OBJ_VAR
%define MAX_VAR 100
/* %define ISVARS */
%define MAX_TRIGGER 16
%define MAX_IS 30

%undef  OUT_MAX
%define OUT_MAX 1048576

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 10

%define PROCS
%define TRIGGER
%define LOWLEVEL
extralflags = -g -lm

trigger = general pci/zelsync

procs = general
procs += general/struct
procs += general/vars
procs += test
procs += internals/sched
procs += internals/cluster
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif

dummyprocs = $(immerdummys) $(modlistdummies)
lowlevel = oscompat sync/pci_zel

#ifdef USE_PERFSPECT
lowlevel+= perfspect
perfspect = zelsync
#endif

objects = var pi domain is do
invocations = readout_cc
domains = ml trigger event dataout
commu = socket
dataout = cluster
clusterdataouts = null socket file
