/*
 * $ZEL: cc_sis3100_c11_mapped_delayed.config,v 1.1 2005/04/12 19:03:18 wuestner Exp $
 * cc_sis3100_c11_mapped_delayed.config
 * 23.Oct.2002
 */

#define USE_PERFSPECT
#undef  JUMBOCLUSTER
#define USE_BEEF
#define USE_DELAYED_READ

%define SIS3100_SFI_MAPPED

#define INCLUDED_FROM_SIS3100_xxx_CONFIG
#include "cc_sis3100_stub.config"
