/*
 * cc_sync.config
 * created before 16.06.2000
 * $ZEL: cc_sync.config,v 1.7 2017/11/02 20:59:10 wuestner Exp $
 */

#include "defaults.inc"

#define USE_DEBUG
#define CLUSTER_ALLOC malloc

#ifdef  USE_DEBUG
%define DEBUG
#define DEBUG
#endif

#define SMALL_COMPUTER

%undef  OUT_MAX
/*
    these numbers are in units of 32-bit-words
    EVENT_MAX and OUT_MAX should have the same size
    CLUSTER_MAX must not be smaller than EVENT_MAX
    all three must not exeed 2**32-1
*/
#ifdef SMALL_COMPUTER
%define CLUSTER_NUM 4
%define EVENT_MAX   268435456ULL /* 1 GiByte */
%define CLUSTER_MAX 536870912ULL /* 2 GiByte */
%define OUT_MAX     268435456LL
#else
%define CLUSTER_NUM 16
%define EVENT_MAX   1073741824ULL /* 4 GiByte */
%define CLUSTER_MAX 2147483648ULL /* 8 GiByte */
%define OUT_MAX     1073741824LL
#endif

#ifdef DEBUG
CFLAGS      += -g
extralflags += -g
#else
CFLAGS      += -O3 -Wuninitialized
#endif

%define SELECTCOMM

%define READOUT_PRIOR 1000

%define DEFPORT 2048

%define CLUSTERTIMESTAMPS

%define DATAOUT_MULTI
%define DOM_DATAOUT
%define DOM_EVENT
%define DOM_ML
%define DOM_TRIGGER
%define EXTRA_DO_DATA
%define MAX_DATAOUT 5
%define MAX_IS 32
%define MAX_TRIGGER 0x10000
%define MAX_VAR 100
%define OBJ_DO
%define OBJ_DOMAIN
%define OBJ_IS
%define OBJ_PI
%define OBJ_VAR
%define PI_READOUT
%define PROCS
%define READOUT_CC
%define TRIGGER

commu = socket

domains = 
domains += dataout
domains += event
domains += ml
domains += trigger

objects =
objects += do
objects += domain
objects += is
objects += pi
objects += var

invocations =
invocations += readout_cc

trigger  = general
trigger += pci/plxsync

dataout = cluster
clusterdataouts = null socket file

dummyprocs = $(immerdummys)
procs  = general
procs += general/struct
procs += general/vars
procs += dataout
procs += internals/sched
procs += test
procs += test/console
procs += sync/plxsync

lowlevel  = oscompat
#if 0
lowlevel += ipmod
#endif
