/*
 * $ZEL: cc_sis3100_mapped_delayed.config,v 1.6 2005/04/12 18:39:21 wuestner Exp $
 * cc_sis3100_mapped_delayed.config
 * 23.Oct.2002
 */

#define USE_PERFSPECT
#define JUMBOCLUSTER
#define USE_DELAYED_READ

%define SIS3100_SFI_MAPPED

#define INCLUDED_FROM_SIS3100_xxx_CONFIG

#include "cc_sis3100_stub.config"

/* %undef DEBUG */

#if 0
CFLAGS=-O2 -pg -Wcomment -Wformat -Wimplicit -Wmissing-declarations -Wmissing-prototypes -Wparentheses -Wpointer-arith -Wreturn-type -Wstrict-prototypes -Wuninitialized -Wunused -Werror
extralflags = -lm -pg
#endif
#if 0
CFLAGS=-O2 -Wcomment -Wformat -Wimplicit -Wmissing-declarations -Wmissing-prototypes -Wparentheses -Wpointer-arith -Wreturn-type -Wstrict-prototypes -Wuninitialized -Wunused -Werror
extralflags = -lm
#endif
