/*
 * $ZEL: cc_sis3100_delayed.config,v 1.4 2005/04/12 18:39:20 wuestner Exp $
 * cc_sis3100_delayed.config
 * 10.JUl.2002
 */

#define USE_PERFSPECT
#define JUMBOCLUSTER
#define USE_DELAYED_READ

%undef  SIS3100_SFI_MAPPED

#define INCLUDED_FROM_SIS3100_xxx_CONFIG
#include "cc_sis3100_stub.config"
