/*
 * $ZEL: cc_sis1100_lvd.config,v 1.4 2007/11/06 21:33:59 wuestner Exp $
 * cc_sis1100_lvd.config
 * 10.Dec.2003
 */

%define DEBUG
%undef PERFSPECT
%define LVD_TRACE

#include "defaults.inc"
#define JUMBOCLUSTER

/*%define CLUSTERCHECKSUM MD5*/
%define MAXEVCOUNT 0

%define NOLAMPOLL
%define SYNCSTATIST
#define SYNCSTATIST

%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000

/* CLUSTER_MAX in Worten gemessen */
#ifdef JUMBOCLUSTER
%define CLUSTER_MAX 262144
#else
%define CLUSTER_MAX 16384
#endif

%define EVENT_MAX CLUSTER_MAX
%define CLUSTER_NUM 100
%define CLUSTER_MALLOC

%define DEFPORT 2048
%undef  OUT_MAX
%define OUT_MAX 1048576

%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 32
%define EXTRA_DO_DATA

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 5

%define PROCS
%define TRIGGER
%define LOWLEVEL

extralflags =  -pg -g -lm
CFLAGS += -pg

objects  = var pi domain is do
trigger  = general
trigger += pci/zelsync
trigger += pci/lvd

procs  = general
procs += general/struct
procs += general/vars
procs += test
procs += test/console
procs += internals/sched
procs += internals/cluster
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif
procs += lvd
procs += lvd/sis1100
procs += lvd/tdc
procs += lvd/qdc
procs += lvd/vertex
procs += lvd/sync

dummyprocs = $(immerdummys)
lowlevel  = oscompat
lowlevel += sync/pci_zel
lowlevel += lvd
lowlevel += lvd/tdc
lowlevel += lvd/qdc
lowlevel += lvd/vertex
lowlevel += lvd/sync
lvd       = sis1100
lowlevel += jtag

commu = socket
domains = ml trigger event dataout
invocations = readout_cc
dataout = cluster
clusterdataouts = null socket file
