/*
 * $ZEL: cc_sis3100_stub.config,v 1.8 2007/11/06 21:34:00 wuestner Exp $
 * cc_sis3100_stub.config
 * 23.Oct.2002
 */
#ifndef INCLUDED_FROM_SIS3100_xxx_CONFIG
#error cc_sis3100_stub.config should not be used stand alone
#endif

%define DEBUG

#ifdef USE_PERFSPECT
%define PERFSPECT
#endif
#ifdef USE_DELAYED_READ
%define DELAYED_READ
#endif

#include "defaults.inc"

%define MAXEVCOUNT 0

%define NOLAMPOLL
#ifndef NO_SYNC
%define SYNCSTATIST
#define SYNCSTATIST
#endif

%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000
/* CLUSTER_MAX in Worten gemessen */
#ifdef JUMBOCLUSTER
%define CLUSTER_MAX 262144
#else
%define CLUSTER_MAX 16380
#endif
%define EVENT_MAX (CLUSTER_MAX)

%define DEFPORT 2048
%undef  OUT_MAX
%define OUT_MAX 1048576

%define CLUSTERTIMESTAMPS
%define CLUSTER_NUM 200

%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 32
%define EXTRA_DO_DATA

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 5

%define PROCS
%define TRIGGER
%define LOWLEVEL

extralflags = -g -lm

objects  = var pi domain is do
trigger  = general
trigger += vme 
#ifndef NO_SYNC
trigger += pci/zelsync
#endif

procs  = general
procs += general/struct
procs += general/vars
procs += general/modules
procs += test
procs += test/console
#ifdef USE_DELAYED_READ
procs += test/delayedread
#endif
procs += internals/sched
procs += internals/cluster
#ifndef NO_SYNC
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif
#endif
procs += unixvme
#ifdef USE_DELAYED_READ
procs += unixvme/sis3100
#endif
procs += unixvme/sis3800
/*procs += unixvme/sis4100*/
procs += unixvme/caen

procs+= fastbus/general
procs+= fastbus/fb_lecroy
procs+= fastbus/fb_phillips
procs+= fastbus/sfi
/*procs+= fastbus/sis3100*/
#ifdef USE_PERFSPECT
procs+= perfspect
#endif

dummyprocs = $(immerdummys)

lowlevel = oscompat
#ifndef NO_SYNC
lowlevel+= sync/pci_zel
#endif
lowlevel+= fastbus
lowlevel+= unixvme
#ifdef USE_PERFSPECT
lowlevel+= perfspect
perfspect = zelsync
#endif

%define SFI_BASE 0xE00000
%define SFI_VME_MEM 0x84000000
fastbus = sis3100_sfi
unixvme = sis3100

commu = socket
domains = ml trigger event dataout
invocations = readout_cc
dataout = cluster
clusterdataouts = null socket file

#ifdef USE_BEEF
%define SIS3100_SFI_DEADBEEF 
%define SIS3100_SFI_BEEF_SIZE (CLUSTER_MAX*4*8)
%define SIS3100_SFI_BEEF_MAGIC 0x5a
#endif

/*
 * end of cc_sis3100_stub.config
 */
