/*
 * $ZEL: cc_sis3100_sfi.config,v 1.2 2005/04/12 18:39:22 wuestner Exp $
 * cc_sis3100_sfi.config
 * 07.Oct.2002
 */

%define DEBUG
%undef PERFSPECT
/*%define NO_FRdcB_DATA*/
%define DELAYED_READ

#include "defaults.inc"

/*%define CLUSTERCHECKSUM MD5*/

%define NOLAMPOLL
%define SYNCSTATIST
#define SYNCSTATIST

%define SCHED_TRIGGER
%define SELECTCOMM
%define SELECT_STATIST

%define READOUT_PRIOR 1000
%define EVENT_MAX 16380
/* CLUSTER_MAX in Worten gemessen */
%define CLUSTER_MAX 262144
%define DEFPORT 2048
%undef  OUT_MAX
%define OUT_MAX 1048576

%define CLUSTER_NUM 100

%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 32
%define EXTRA_DO_DATA

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 5

%define PROCS
%define TRIGGER
%define LOWLEVEL

extralflags = -g -lm

objects  = var pi domain is do
trigger  = general pci/zelsync

procs  = general
procs += general/struct
procs += general/vars
procs += test
procs += test/console
procs += internals/sched
procs += internals/cluster
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif
procs += fastbus/general
procs += fastbus/fb_lecroy
procs += fastbus/fb_phillips

dummyprocs = $(immerdummys)
lowlevel = oscompat
lowlevel+= sync/pci_zel
lowlevel+= fastbus

/*%undef SIS3100_SFI_MAPPED*/
%define SFI_BASE 0xE00000
%define SFI_VME_MEM 0x84000000
/*fastbus = sis3100_sfi sfi*/
fastbus = sis3100_sfi

commu = socket
domains = ml trigger event dataout
invocations = readout_cc
dataout = cluster
clusterdataouts = null socket file
