/******************************************************************************
*                                                                             *
* chi_all.config                                                              *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 25.07.96                                                                    *
*                                                                             *
******************************************************************************/

#include "chi.inc"

%undef READOUT_PRIOR
%define READOUT_PRIOR 1600

%define OPTIMIERT
%define TEST_ML

procs += TEST GENERAL/STRUCT GENERAL/VARS GENERAL/RAW CHI/TRIGGER FASTBUS/FB_CHIPS FASTBUS_N FASTBUS/FB_LECROY

%define GSI_SYNC
trigger += CHI/GSI

lowlevel = BUSTRAP CHI_GSI CHI_NEU OSCOMPAT

extralflags = -g -Fl68s1000

extralibs += $(BERKLIB)

/*****************************************************************************/
/*****************************************************************************/
