/*
 * chim_vme.config
 * 30.01.2001
 * $ZEL: chim_vme.config,v 1.4 2007/11/06 21:34:00 wuestner Exp $
 */

%define VMESWAP
%define NOLAMPOLL
%define SYNCSTATIST
#define SYNCSTATIST
%define SELECTCOMM
%define SELECT_STATIST

#include "defaults.inc"

%define READOUT_PRIOR 1000
%define EVENT_MAX 16380
%define DEFPORT 2048

%define CLUSTER_NUM 100
%define CLUSTERBUFFER "chim_vme_clusters"
%define CLUSTER_MAX 16380
%define CLUSTER_MALLOC
%define EXTRA_DO_DATA

%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 30

%undef  OUT_MAX
%define OUT_MAX 1048576

%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define OBJ_DO
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 10

%define PROCS
%define TRIGGER
%define LOWLEVEL
%define MODULTEST_VME
extralflags = -g -lm

trigger = general pci/zelsync

procs = general
procs += general/struct
procs += general/vars
procs += test
procs += internals/sched
procs += internals/cluster
procs += unixvme
procs += unixvme/sis3800
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif

dummyprocs = $(immerdummys)
lowlevel = oscompat sync/pci_zel unixvme

objects = var pi domain is do
invocations = readout_cc
domains = ml trigger event dataout
commu = socket
dataout = cluster
clusterdataouts = null socket file
