/*
 * chim_cl_nohard.config
 * created before 26.10.97
 * $ZEL: chim_cl_nohard.config,v 1.4 2009/08/10 21:02:20 wuestner Exp $
 */

isrodummys = DownloadReadoutList UploadReadoutList DeleteReadoutList EnableIS DisableIS GetISStatus
isdummys = $(isrodummys) CreateIS DeleteIS DownloadISModulList UploadISModulList DeleteISModulList GetISParams
procdummys = TestCommand DoCommand
vardummys = CreateVariable DeleteVariable ReadVariable WriteVariable GetVariableAttributes
pidummys = CreateProgramInvocation DeleteProgramInvocation StartProgramInvocation ResetProgramInvocation StopProgramInvocation ResumeProgramInvocation GetProgramInvocationAttr GetProgramInvocationParams
dodummys = WindDataout WriteDataout GetDataoutStatus EnableDataout DisableDataout
domdummys = DownloadDomain UploadDomain DeleteDomain
immerdummys = ResetISStatus Nothing
prodummys = ProfileVED ProfileIS ProfileDI ProfileDO ProfilePI ProfileTR

immerdummys += $(prodummys)

%define DEBUG
%define OUT_MAX (16*1024)
%define MAXEVCOUNT 0

%define READOUT_PRIOR 100
%define MAX_DATAOUT 5
%define EVENT_MAX 8000
%define CLUSTER_MAX 16300
%define CLUSTER_NUM 10
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 10
%define OBJ_VAR
%define READOUT_CC
%define OBJ_IS
%define DOM_TRIGGER
%define PROCS
%define TRIGGER
%define CLUSTERBUFFER "emcluster"
%define TAPEHANDLER "auftape"

dummyprocs = $(immerdummys)
procs = test general/vars general general/struct internals/sched

objects = var pi is domain do

%define OBJ_DO

%define DATAOUT_MULTI

dataout = cluster

%define DEFPORT 2048

%define OBJ_DOMAIN
%define DOM_DATAOUT
%define DOM_EVENT

%define OBJ_PI
%define PI_READOUT

%define LOWLEVEL

commu = socket
domains = trigger event dataout
invocations = readout_cc
lowlevel = oscompat
trigger = general

extralflags = -g
