/*
e01 Fri Feb 11 19:28:10 CET 2005
*/
4 2 1 {em_cluster} {Thu May  1 23:03:28 MEST 2003} {/*
 * em_cluster.config
 * 
 * 07.10.97
 */
isrodummys = DownloadReadoutList UploadReadoutList DeleteReadoutList EnableIS DisableIS GetISStatus
isdummys = $(isrodummys) CreateIS DeleteIS DownloadISModulList UploadISModulList DeleteISModulList GetISParams
procdummys = TestCommand DoCommand
vardummys = CreateVariable DeleteVariable ReadVariable WriteVariable GetVariableAttributes
pidummys = CreateProgramInvocation DeleteProgramInvocation StartProgramInvocation ResetProgramInvocation StopProgramInvocation ResumeProgramInvocation GetProgramInvocationAttr GetProgramInvocationParams
dodummys = WindDataout WriteDataout GetDataoutStatus EnableDataout DisableDataout
domdummys = DownloadDomain UploadDomain DeleteDomain
immerdummys = ResetISStatus Nothing
/*
 * prodummys = ProfileVED ProfileIS ProfileDI ProfileDO ProfilePI ProfileTR
 */
immerdummys += $(prodummys)
%define DEBUG
%define OUT_MAX 1048576
%define READOUT_PRIOR 100
%define MAX_DATAIN 20
%define MAX_DATAOUT 10
%define TAPEHANDLER "auftape"
%define CLUSTERBUFFER "emcluster"
%define CLUSTER_NUM 100
/*%define CLUSTER_MAX 262144*/
%define CLUSTER_MAX 32768
/*%define CLUSTER_MAX 16384*/
/*%define CLUSTERCHECK*/
%define SELECT_STATIST
dummyprocs = $(isdummys) $(vardummys) $(immerdummys)
objects = pi domain do
%define OBJ_DO
%define DATAOUT_MULTI
dataout = cluster
clusterdataouts = null socket tape file
/*
%define CLUSTERCHECKSUM MD5
*/
%define CLUSTERTIMESTAMPS
%define DEFPORT 2048
%define OBJ_DOMAIN
%define DOM_DATAIN
%define DOM_DATAOUT
%define DOM_EVENT
%define OBJ_PI
%define PI_READOUT
%define LOWLEVEL
commu = socket
%define SELECTCOMM
domains = event datain dataout
invocations = readout_em_cluster
lowlevel = oscompat
extralflags = -g
extralibs += -lm
%define PROCS
/*%define PROCPROPS*/
/*procs = general*/
procs = test
procs += internals/sched
procs += tape
}
