/*
e02 Fri Feb 11 19:28:28 CET 2005
*/
4 2 1 {pcicamacdrams} {Thu Aug 10 16:05:34 MEST 2000} {/*
 * pcicamacdrams.config
 * 09.06.1999
 */
%define DEBUG
%define NOLAMPOLL
%define SYNCSTATIST
%define SCHED_TRIGGER
%define SELECTCOMM
%define READOUT_PRIOR 1000
%define EVENT_MAX 16380
%define DEFPORT 2048
%define CLUSTER_NUM 100
%define CLUSTERBUFFER "drams_clusters"
%define CLUSTER_MAX 16380
%define CLUSTER_MALLOC
%define EXTRA_DO_DATA
%define OBJ_VAR
%define MAX_VAR 100
%define ISVARS
%define MAX_TRIGGER 16
%define MAX_IS 10
%undef  OUT_MAX
%define OUT_MAX 1048576
%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC
%define OBJ_IS
%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 1
%define PROCS
%define TRIGGER
%define LOWLEVEL
extralflags = -g -lm
trigger  = general
trigger += camac
trigger += camac/gsi
trigger += pci/zelsync
trigger += camac/c219
trigger += camac/drams
procs  = general
procs += general/struct
procs += general/vars
procs += test
procs += internals/sched
procs += camac
procs += camac/c219
procs += camac/scaler
procs += camac/drams
procs += camac/trigger
procs += pci/trigger
procs += pci/trigger/statist
dummyprocs = $(immerdummys)
lowlevel = oscompat sync/pci_zel camac/pcicamac
objects = var pi domain is do
invocations = readout_cc
domains = ml trigger event dataout
dataout = cluster
clusterdataouts = null socket file
commu = socket
%define PCICAMAC
%define PCICAM_MMAPPED
%define DRIVERCAMAC
}
