/*
e03 Fri Feb 11 23:00:34 CET 2005
*/
4 2 1 {cc_sis3100_c11_delayed} {Mon Aug 16 18:32:46 MEST 2004} {/*
 * $ZEL: e03.config,v 1.2 2009/08/10 21:02:20 wuestner Exp $
 * cc_sis3100_c11.config
 * 09.Aug.2004
 */
%define DEBUG
%define SIS3100_SFI_DELAYED_BLOCK_READ
%define SIS3100_SFI_DEADBEEF 
%define SIS3100_SFI_BEEF_SIZE (CLUSTER_MAX*4*8)
%define SIS3100_SFI_BEEF_MAGIC 0x5a
/*
 * defaults.inc
 * 28.01.94
 */
isrodummys = DownloadReadoutList UploadReadoutList DeleteReadoutList EnableIS DisableIS GetISStatus
modlistdummies = DownloadISModulList UploadISModulList DeleteISModulList
isdummys = $(isrodummys) $(modlistdummies) CreateIS DeleteIS GetISParams
procdummys = TestCommand DoCommand
vardummys = CreateVariable DeleteVariable ReadVariable WriteVariable GetVariableAttributes
pidummys = CreateProgramInvocation DeleteProgramInvocation StartProgramInvocation ResetProgramInvocation StopProgramInvocation ResumeProgramInvocation GetProgramInvocationAttr GetProgramInvocationParams
dodummys = WindDataout WriteDataout GetDataoutStatus EnableDataout DisableDataout
domdummys = DownloadDomain UploadDomain DeleteDomain
immerdummys = ResetISStatus Nothing
%define OUT_MAX (16*1024)
/*
 * end of defaults.inc
 */
%define MAXEVCOUNT 0
%define NOLAMPOLL
%define SYNCSTATIST
%define SCHED_TRIGGER
%define SELECTCOMM
%define SELECT_STATIST
%define READOUT_PRIOR 1000
%define EVENT_MAX 16380
/* CLUSTER_MAX in Worten gemessen */
/*%define CLUSTER_MAX 262144*/
%define CLUSTER_MAX 16384
%define DEFPORT 2048
%undef  OUT_MAX
%define OUT_MAX 1048576
%define CLUSTERTIMESTAMPS
%define CLUSTER_NUM 200
%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 32
%define EXTRA_DO_DATA
%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC
%define OBJ_IS
%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 5
%define PROCS
%define TRIGGER
%define LOWLEVEL
extralflags = -g -lm
objects  = var pi domain is do
trigger  = general pci/zelsync
trigger += vme 
procs  = general
procs += general/struct
procs += general/vars
procs += general/modules
procs += test
procs += test/console
procs += internals/sched
procs += internals/cluster
procs += pci/trigger
/*
procs += unixvme
procs += unixvme/sis3100
procs += unixvme/sis3800
procs += unixvme/sis4100
procs += unixvme/caen
*/
procs+= pci/trigger/statist
procs+= fastbus/general
procs+= fastbus/fb_lecroy
/*
procs+= fastbus/fb_phillips
*/
procs+= fastbus/sfi
/*procs+= fastbus/sis3100*/
dummyprocs = $(immerdummys)
lowlevel = oscompat
lowlevel+= sync/pci_zel
lowlevel+= fastbus
/*
lowlevel+= unixvme
*/
%define SFI_BASE 0xE00000
%define SFI_VME_MEM 0x84000000
fastbus = sis3100_sfi
/*
unixvme = sis3100
*/
commu = socket
domains = ml trigger event dataout
invocations = readout_cc
dataout = cluster
clusterdataouts = null socket file
/*
 * end of cc_sis3100_c11.config
 */
}
