/*
 * em_cluster.config
 * 
 * 07.10.97
 */
#define PROCEDURES

isrodummys = DownloadReadoutList UploadReadoutList DeleteReadoutList EnableIS DisableIS GetISStatus
isdummys = $(isrodummys) CreateIS DeleteIS DownloadISModulList UploadISModulList DeleteISModulList GetISParams
procdummys = TestCommand DoCommand
vardummys = CreateVariable DeleteVariable ReadVariable WriteVariable GetVariableAttributes
pidummys = CreateProgramInvocation DeleteProgramInvocation StartProgramInvocation ResetProgramInvocation StopProgramInvocation ResumeProgramInvocation GetProgramInvocationAttr GetProgramInvocationParams
dodummys = WindDataout WriteDataout GetDataoutStatus EnableDataout DisableDataout
domdummys = DownloadDomain UploadDomain DeleteDomain
immerdummys = ResetISStatus Nothing
/*
 * prodummys = ProfileVED ProfileIS ProfileDI ProfileDO ProfilePI ProfileTR
 */

immerdummys += $(prodummys)

%define DEBUG
%define OUT_MAX (16*1024)

%define READOUT_PRIOR 100
%define MAX_DATAIN 20
%define MAX_DATAOUT 10

%define TAPEHANDLER "auftape"
%define CLUSTERBUFFER "emcluster"
%define CLUSTER_NUM 5
%define CLUSTER_MAX 16380
/*%define CLUSTERCHECK*/
%define SELECT_STATIST

dummyprocs = $(isdummys) $(vardummys) $(immerdummys)

objects = pi domain do

%define OBJ_DO

%define DATAOUT_MULTI

dataout = cluster
clusterdataouts = null socket file

%define DEFPORT 2048

%define OBJ_DOMAIN
%define DOM_DATAIN
%define DOM_DATAOUT
%define DOM_EVENT

%define OBJ_PI
%define PI_READOUT
%define LOWLEVEL

commu = socket
%define SELECTCOMM
domains = event datain dataout
invocations = readout_em_cluster
lowlevel = oscompat

extralflags = -g
extralibs = -lm

#ifdef PROCEDURES
%define PROCS
procs = general test internals/sched
#else
dummyprocs += $(procdummys)
#endif
