/*
 * eventfilter.config
 * $ZEL: eventfilter.config,v 1.2 2009/08/10 21:02:21 wuestner Exp $
 * 
 * 2007-Jun-09 PW
 */
#define PROCEDURES
#define JUMBOCLUSTER

isrodummys = DownloadReadoutList UploadReadoutList DeleteReadoutList EnableIS DisableIS GetISStatus
isdummys = $(isrodummys) CreateIS DeleteIS DownloadISModulList UploadISModulList DeleteISModulList GetISParams
procdummys = TestCommand DoCommand
vardummys = CreateVariable DeleteVariable ReadVariable WriteVariable GetVariableAttributes
pidummys = CreateProgramInvocation DeleteProgramInvocation StartProgramInvocation ResetProgramInvocation StopProgramInvocation ResumeProgramInvocation GetProgramInvocationAttr GetProgramInvocationParams
dodummys = WindDataout WriteDataout GetDataoutStatus EnableDataout DisableDataout
domdummys = DownloadDomain UploadDomain DeleteDomain
immerdummys = ResetISStatus Nothing
/*
 * prodummys = ProfileVED ProfileIS ProfileDI ProfileDO ProfilePI ProfileTR
 */

immerdummys += $(prodummys)

%define DEBUG
%define OUT_MAX 1048576

%define READOUT_PRIOR 100
%define MAX_DATAIN 20
%define MAX_DATAOUT 10

%define TAPEHANDLER "auftape"
%define CLUSTERBUFFER "emcluster"
%define CLUSTER_NUM 100

#ifdef USE_DDMA_EVENTS
%define EVENT_MAX    655360 /* 2.5 MiByte */
%define CLUSTER_MAX 1310720 /* 5 MiByte */
#else
#  ifdef JUMBOCLUSTER
%define CLUSTER_MAX 262144
#  else
%define CLUSTER_MAX 16380
#  endif
%define EVENT_MAX (CLUSTER_MAX/2)
#endif
%define CLUSTER_MALLOC

/*%define CLUSTERCHECK*/
%define SELECT_STATIST

dummyprocs = $(isdummys) $(vardummys) $(immerdummys)

objects = pi domain do

%define OBJ_DO

%define DATAOUT_MULTI

dataout = cluster
clusterdataouts = null socket file
/*
%define CLUSTERCHECKSUM MD5
*/
%define CLUSTERTIMESTAMPS

%define DEFPORT 2048

%define OBJ_DOMAIN
%define DOM_DATAIN
%define DOM_DATAOUT
#if 0
%define DOM_EVENT
#endif

%define OBJ_PI
%define PI_READOUT
/*%define LOWLEVEL*/

commu = socket
%define SELECTCOMM
#if 0
domains = event datain dataout
#else
domains = datain dataout
#endif
invocations = readout_eventfilter
/*lowlevel = oscompat*/

extralflags = -g
extralibs += -lm

%define PROCS
procs = general
procs += dataout
procs += test
procs += internals/sched
