#include "defaults.inc"

%define EVENT_MAX 1024

%define DEBUG
%define DEFPORT 2048

commu = socket
%define COMMU_ACCESSCONTROL

%define OBJ_PI
%define PI_READOUT

%define OBJ_DOMAIN
%define DOM_EVENT
%define DOM_DATAOUT

%define MAX_DATAIN 5

%define DATAOUT_MULTI
%define MAX_DATAOUT 1

objects = pi domain
invocations = readout_emneu
domains = event dataout
dataout = stream/file

dummyprocs = $(isdummys) $(procdummys) $(vardummys) $(dodummys)  $(immerdummys)

CFLAGS = -g
extralflags = -g 
