/*
 * nohardware_filestream.config
 * 
 * 04.07.97
 */

isrodummys = DownloadReadoutList UploadReadoutList DeleteReadoutList EnableIS DisableIS GetISStatus
isdummys = $(isrodummys) CreateIS DeleteIS DownloadISModulList UploadISModulList DeleteISModulList GetISParams
procdummys = TestCommand DoCommand
vardummys = CreateVariable DeleteVariable ReadVariable WriteVariable GetVariableAttributes
pidummys = CreateProgramInvocation DeleteProgramInvocation StartProgramInvocation ResetProgramInvocation StopProgramInvocation ResumeProgramInvocation GetProgramInvocationAttr GetProgramInvocationParams
dodummys = WindDataout WriteDataout GetDataoutStatus EnableDataout DisableDataout
domdummys = DownloadDomain UploadDomain DeleteDomain
immerdummys = ResetISStatus Nothing
prodummys = ProfileVED ProfileIS ProfileDI ProfileDO ProfilePI ProfileTR

immerdummys += $(prodummys)

%define DEBUG
%define READOUT_PRIOR 100
%define EVENT_MAX 8000
%define DEFPORT 2048
%define OBJ_VAR
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 10
%define OUT_MAX (16*1024)
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC
%define OBJ_IS
%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 1
%define PROCS
%define TRIGGER
%define LOWLEVEL

trigger = general
procs = test general/vars general general/struct internals/sched
dummyprocs = $(dodummys) $(immerdummys)
lowlevel = oscompat
objects = var pi domain is
invocations = readout_cc
domains = ml trigger event dataout
dataout = stream/file
commu = socket

extralflags = -g
