#include "defaults.inc"

%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 10

%define OBJ_VAR

%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER

%define PROCS
%define TRIGGER
%define LOWLEVEL

objects += VAR PI IS DOMAIN
domains += ml trigger event dataout
invocations += READOUT_CC
procs += GENERAL GENERAL/STRUCT INTERNALS/SCHED

lowlevel = BUSTRAP

%define USE_SSM

%define DOM_EVENT
%define DOM_DATAOUT

dataout = DUMMY

dummyprocs = $(dodummys) $(immerdummys)

%undef EVENT_MAX
%define EVENT_MAX 20480

commu = SOCKET
%define DEFPORT 2048

%undef OPTIMIERT

trigger += GENERAL
/*
lowlevel += PROFILE
profilelib = dummy
*/
lowlevel += OSCOMPAT

extralflags = -Fl68s1000

/*
%define DEBUG
%define USE_PROFILE
%define PROFILE
*/
