/*
 * nohardware_unix.config
 * 
 * 15.05.97
 */

isrodummys = DownloadReadoutList UploadReadoutList DeleteReadoutList EnableIS DisableIS GetISStatus
isdummys = $(isrodummys) CreateIS DeleteIS DownloadISModulList UploadISModulList DeleteISModulList GetISParams
procdummys = TestCommand DoCommand
vardummys = CreateVariable DeleteVariable ReadVariable WriteVariable GetVariableAttributes
pidummys = CreateProgramInvocation DeleteProgramInvocation StartProgramInvocation ResetProgramInvocation StopProgramInvocation ResumeProgramInvocation GetProgramInvocationAttr GetProgramInvocationParams
dodummys = WindDataout WriteDataout GetDataoutStatus EnableDataout DisableDataout
domdummys = DownloadDomain UploadDomain DeleteDomain
immerdummys = ResetISStatus Nothing
prodummys = ProfileVED ProfileIS ProfileDI ProfileDO ProfilePI ProfileTR

immerdummys += $(prodummys)

%define DEBUG
%define OUT_MAX (16*1024)

%define READOUT_PRIOR 100
%define EVENT_MAX 8000
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 10
%define OBJ_VAR
%define READOUT_CC
%define OBJ_IS
%define DOM_TRIGGER
%define PROCS
%define TRIGGER
dummyprocs = $(immerdummys) $(dodummys)
procs = test general/vars general general/struct internals/sched

objects = var pi is domain

%define OBJ_DO

%define DATAOUT_MULTI

dataout = dummy
%define DEFPORT 2048

%define OBJ_DOMAIN
%define DOM_EVENT

%define OBJ_PI
%define PI_READOUT

%define LOWLEVEL

commu = socket
domains = trigger event
invocations = readout_cc
lowlevel = oscompat
trigger = general

extralflags = -g
