/*
 * pcicamacdrams.config
 * 2005-Feb-14
 */

%define DEBUG
#define USE_PERFSPECT
%define NOLAMPOLL
%define SYNCSTATIST
#define SYNCSTATIST

#ifdef USE_PERFSPECT
%define PERFSPECT
#endif

#include "defaults.inc"

%define SCHED_TRIGGER
%define SELECTCOMM

%define READOUT_PRIOR 1000
%define DEFPORT 2048

%define CLUSTER_NUM 200
%define CLUSTERBUFFER "drams_clusters"
%define CLUSTER_MAX 16380
%define CLUSTER_MALLOC
%define EXTRA_DO_DATA
%define EVENT_MAX (CLUSTER_MAX/4)

%define OBJ_VAR
%define MAX_VAR 100
%define ISVARS
%define MAX_TRIGGER 16
%define MAX_IS 10

%undef  OUT_MAX
%define OUT_MAX 1048576

%define OBJ_DO
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC

%define OBJ_IS

%define OBJ_DOMAIN
%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 1

%define PROCS
%define TRIGGER
%define LOWLEVEL
extralflags = -g -lm

trigger  = general
trigger += camac
#if 0
trigger += camac/gsi
#endif
trigger += pci/zelsync
trigger += camac/c219
trigger += camac/drams

procs  = general
procs += general/struct
procs += general/vars
procs += test
procs += internals/sched
procs += camac
procs += camac/c219
procs += camac/scaler
procs += camac/drams
procs += camac/trigger
procs += pci/trigger
#ifdef SYNCSTATIST
procs += pci/trigger/statist
#endif
#ifdef USE_PERFSPECT
procs+= perfspect
#endif

dummyprocs = $(immerdummys)
lowlevel = oscompat sync/pci_zel camac
camac = pcicamac
%define PCICAM_MMAPPED

#ifdef USE_PERFSPECT
lowlevel+= perfspect
perfspect = zelsync
#endif

objects = var pi domain is do
invocations = readout_cc
domains = ml trigger event dataout
dataout = cluster
clusterdataouts = null socket file
commu = socket

