/******************************************************************************
*                                                                             *
* sfi_all.config                                                              *
*                                                                             *
* OS9                                                                         *
*                                                                             *
* 17.03.97                                                                    *
*                                                                             *
******************************************************************************/

#include "defaults.inc"

%define READOUT_PRIOR 160
%define MAXEVCOUNT 0
%define EVENT_MAX 20480

%define DEBUG

commu = socket
%define DEFPORT 2048

%define OBJ_PI
%define OBJ_IS
%define OBJ_DOMAIN
%define OBJ_VAR

%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 20

%define PI_READOUT
%define READOUT_CC

%define DOM_ML
%define DOM_TRIGGER
%define DOM_EVENT
%define DOM_DATAOUT

%define PROCS
%define TRIGGER
%define LOWLEVEL

%define TEST_ML
%define DATAOUT_SIMPLE

dataout = stream/socket

dummyprocs = $(dodummys) $(immerdummys)

domains = ml trigger event dataout
objects = var pi domain is
invocations = readout_cc

procs = test test/console general/struct general/vars general/raw pci/trigger fastbus/fb_chips fastbus_n fastbus/fb_lecroy internals/sched

trigger = general pci/zelsync

lowlevel = oscompat pci/zelsync fastbus/pcisfi

CFLAGS = -g
extralflags = -g

/*****************************************************************************/
/*****************************************************************************/
