/*
 * sfi_cluster_nomap.config
 * 
 * 22.05.97
 */

isrodummys = DownloadReadoutList UploadReadoutList DeleteReadoutList EnableIS DisableIS GetISStatus
isdummys = $(isrodummys) CreateIS DeleteIS DownloadISModulList UploadISModulList DeleteISModulList GetISParams
procdummys = TestCommand DoCommand
vardummys = CreateVariable DeleteVariable ReadVariable WriteVariable GetVariableAttributes
pidummys = CreateProgramInvocation DeleteProgramInvocation StartProgramInvocation ResetProgramInvocation StopProgramInvocation ResumeProgramInvocation GetProgramInvocationAttr GetProgramInvocationParams
dodummys = WindDataout WriteDataout GetDataoutStatus EnableDataout DisableDataout
domdummys = DownloadDomain UploadDomain DeleteDomain
immerdummys = ResetISStatus Nothing
prodummys = ProfileVED ProfileIS ProfileDI ProfileDO ProfilePI ProfileTR

immerdummys += $(prodummys)

%define DEBUG
/* OUT_MAX in Worten gemessen */
%define OUT_MAX (16*1024)
%define READOUT_PRIOR 100
%define MAX_DATAOUT 1
/* EVENT_BUFSIZE in Byte gemessen */
/* EVENT_MAX in Worten gemessen */
%define EVENT_MAX 8000
%define CLUSTER_MAX 16300
%define CLUSTER_NUM 100
%define MAX_VAR 100
%define MAX_TRIGGER 16
%define MAX_IS 10
%define OBJ_VAR
%define READOUT_CC
%define OBJ_IS
%define DOM_TRIGGER
%define DOM_ML
%define PROCS
%define TRIGGER
%define SCHED_TRIGGER
/* FBBUFSIZE in Worten gemessen */
%define FBBUFSIZE 10240
%define SFIFASTBUS
%define TEST_ML

%define TAPEHANDLER "auftape"
%define CLUSTERBUFFER "emcluster"

dummyprocs = $(immerdummys)
procs = test general/vars general general/struct internals/sched pci/trigger fastbus_n sfi

objects = var pi is domain do

%define OBJ_DO

%define DATAOUT_MULTI

dataout = cluster

%define DEFPORT 2048

%define OBJ_DOMAIN
%define DOM_DATAOUT
%define DOM_EVENT

%define OBJ_PI
%define PI_READOUT

%define LOWLEVEL

commu = socket
%define SELECTCOMM
domains = ml trigger event dataout
invocations = readout_cc
lowlevel = oscompat fastbus/sfi sync/pci_zel
trigger = general pci/zelsync

extralflags = -g
