/*
 * wincc.config
 * 09.02.1999
 */

%define DEBUG
%define NOLAMPOLL
#include "defaults.inc"

/* %define SCHED_TRIGGER */
%define SELECTCOMM
%define DEFPORT 2048
%define OBJ_VAR
%define MAX_VAR 1000
%define OBJ_PI
%define PI_READOUT
%define READOUT_CC
%define READOUT_PRIOR 1000
%define MAX_TRIGGER 1
%define PROCS
%define EXTRA_DO_DATA
%define OBJ_DOMAIN
%define DOM_DATAOUT
%define DATAOUT_MULTI
%define MAX_DATAOUT 1
%define EVENT_MAX 16380
%define CLUSTERBUFFER "wcc_clusters"
%define OBJ_IS
%define MAX_IS 32
%define DOM_TRIGGER
%define TRIGGER
extralflags = -g -lm
lowlevel  = oscompat
lowlevel += wincc
procs = wincc
dummyprocs = $(immerdummys) $(domdummys) $(pidummys) $(isdummys) $(dodummys)
objects = var domain do pi is
domains = dataout trigger
commu   = socket
dataout = cluster
clusterdataouts = socket file
invocations = readout_cc
trigger = general
