dnl
dnl procs/caenet/procedures.config
dnl $ZEL: procedures.config,v 1.4 2007/08/14 12:42:03 wuestner Exp $
dnl

proc(caenet_writeB)
proc(caenet_readB)
proc(caenet_write_readB)
proc(caenet_write)
proc(caenet_read)
proc(caenet_write_read)
proc(caenet_echo)
proc(caenet_reset)
proc(caenet_led)
proc(caenet_timeout)
