proc(Write_scaler)
proc(Enable_scaler)
proc(Disable_scaler)
proc(Reset_scaler)
proc(Read_scaler)
proc(Test_lam_scaler)
proc(Clear_lam_scaler)
proc(Inc_scaler)
proc(IM_read_ir)
proc(IM_read_mr)
proc(IM_read_ir_cm)
proc(IM_test_lam)
proc(IM_clear_ir)
proc(IM_owrite_mr)
proc(IM_SelClIR_SelSetMR)
proc(IM_dis_lam)
proc(IM_ena_lam)
proc(IM_init)
