dnl procs/fastbus/fb_lecroy/procedures.config
dnl $ZEL: procedures.config,v 1.12 2005/04/12 18:40:11 wuestner Exp $

proc(fb_lc1810_setup)
proc(fb_lc1810_check_start)
proc(fb_lc1810_check)
proc(fb_lc1810_check_reset)
proc(fb_lc1810_reset)

proc(fb_lc1872a_setup)
proc(fb_lc1872a_readout_pl)
proc(fb_lc1872a_readout)

proc(fb_lc1875_setup)
proc(fb_lc1875_readout_pl)
proc(fb_lc1875_readout)

proc(fb_lc1875a_setup)
proc(fb_lc1875a_readout_t2)
proc(fb_lc1875a_readout_t1)
proc(fb_lc1875a_readout_pl)
proc(fb_lc1875a_readout_p3)
proc(fb_lc1875a_readout)

dnl proc(fb_lc1875p_setup)
dnl proc(fb_lc1875p_readout)

proc(fb_lc1876_setup)
proc(fb_lc1876_check_buf)
proc(fb_lc1876_check_buf_2)
proc(fb_lc1876_read_ptr)
proc(fb_lc1876_readout_pl)
proc(fb_lc1876_readout_check)
proc(fb_lc1876_readout)

proc(fb_lc1877_setup)
proc(fb_lc1877_check_buf)
proc(fb_lc1877_check_buf_2)
proc(fb_lc1877_read_ptr)
proc(fb_lc1877_readout_t2)
proc(fb_lc1877_readout_t1)
proc(fb_lc1877_readout_pl)
proc(fb_lc1877_readout_p5)
proc(fb_lc1877_readout_multi)
proc(fb_lc1877_readout_check)
dnl proc(fb_lc1877_readout)

proc(fb_lc1879_setup)
proc(fb_lc1879_readout_t2)
proc(fb_lc1879_readout_t1)
proc(fb_lc1879_readout_pl)
proc(fb_lc1879_readout_p3)
proc(fb_lc1879_readout)

proc(fb_lc1881_setup)
proc(fb_lc1881_measure_ped)
proc(fb_lc1881_build_ped)
proc(fb_lc1881_read_ped)
proc(fb_lc1881_check_buf)
proc(fb_lc1881_check_buf_2)
proc(fb_lc1881_read_ptr)
proc(fb_lc1881_readout_t2)
proc(fb_lc1881_readout_t1)
proc(fb_lc1881_readout_pl)
proc(fb_lc1881_readout_p5)
proc(fb_lc1881_readout_multi)
proc(fb_lc1881_readout_check)
proc(fb_lc1881_readout)
proc(fb_lc1881_load_sequencer)
proc(fb_lc1881_readout_sequencer)

proc(fb_lc1885f_setup)
proc(fb_lc1885f_measure_ped)
proc(fb_lc1885f_build_ped)
proc(fb_lc1885f_readout_pl)
proc(fb_lc1885f_readout)
proc(fb_lc1885f_readout_3)

proc(fb_lc_create_pat)
proc(fb_lc_create_list)
proc(fb_lc_create_patlist)
proc(fb_lc_mod_pat)
