dnl $ZEL: procedures.config,v 1.10 2012/09/11 23:41:35 wuestner Exp $

proc(lvd_qdc_init)

proc(lvd_qdc_window)
proc(lvd_qdc_getwindow)

proc(lvd_qdc_swstart)
proc(lvd_qdc_swlength)
proc(lvd_qdc_intlength)

proc(lvd_qdc_iwstart)
proc(lvd_qdc_iwlength)

proc(lvd_qdc_trglevel)
proc(lvd_qdc_pedestal)
proc(lvd_qdc_dac)
proc(lvd_qdc_testdac)
proc(lvd_qdc_test_pulse)
proc(lvd_qdc_inhibit)
proc(lvd_qdc_threshold)
proc(lvd_qdc_thlevel)
proc(lvd_qdc_raw)
proc(lvd_qdc_rawcycle)
proc(lvd_qdc_anal)
proc(lvd_qdc_noise)
proc(lvd_qdc_mean)
proc(lvd_qdc_ovr)
proc(lvd_qdc_bline_adjust)
proc(lvd_qdc_grp_coinc)
proc(lvd_qdc_coinc)

proc(lvd_qdc_sc_rate)
proc(lvd_qdc_sc_init)
proc(lvd_qdc_sc_clear)
proc(lvd_qdc_sc_update)
proc(lvd_qdc_sc_get)

proc(lvd_qdc_c_outp)
proc(lvd_qdc_c_festart)
proc(lvd_qdc_c_femin)
proc(lvd_qdc_c_femax)
proc(lvd_qdc_c_feend)
proc(lvd_qdc_c_fetot)
proc(lvd_qdc_c_fecfd)
proc(lvd_qdc_c_fezero)
proc(lvd_qdc_c_feqae)
proc(lvd_qdc_c_feqpls)
proc(lvd_qdc_c_feqclab)
proc(lvd_qdc_c_feqclae)
proc(lvd_qdc_c_feiwedge)
proc(lvd_qdc_c_feiwmax)
proc(lvd_qdc_c_feiwcenter)
proc(lvd_qdc_c_feovrun)
proc(lvd_qdc_c_fenoise)
proc(lvd_qdc_c_chctrl)
proc(lvd_qdc_c_chaena)
proc(lvd_qdc_c_plev)
proc(lvd_qdc_c_polarity)
proc(lvd_qdc_c_gradient)
proc(lvd_qdc_c_noext)
proc(lvd_qdc_c_tot4raw)
proc(lvd_qdc_c_cfqrise)
proc(lvd_qdc_c_qrise)
proc(lvd_qdc_c_cf)
proc(lvd_qdc_c_totlevel)
proc(lvd_qdc_c_totthr)
proc(lvd_qdc_c_totwidth)
proc(lvd_qdc_c_logiclevel)
proc(lvd_qdc_c_logicthr)
proc(lvd_qdc_c_logicwidth)
proc(lvd_qdc_c_iwqthr)
proc(lvd_qdc_c_swqthr)
proc(lvd_qdc_c_swilen)
proc(lvd_qdc_c_clqstlen)
proc(lvd_qdc_c_cllen)
proc(lvd_qdc_c_clqdel)
proc(lvd_qdc_c_coincpar)
proc(lvd_qdc_c_coincdel)
proc(lvd_qdc_c_coincwidth)
proc(lvd_qdc_c_dttau)
proc(lvd_qdc_c_rawtable)
proc(lvd_qdc_g_swstart)
proc(lvd_qdc_g_swlen)
proc(lvd_qdc_g_iwstart)
proc(lvd_qdc_g_iwlen)
proc(lvd_qdc_g_coinctab)
proc(lvd_qdc_m_cr)
proc(lvd_qdc_m_ena)
proc(lvd_qdc_m_trgmode)
proc(lvd_qdc_m_tdcena)
proc(lvd_qdc_m_fixbaseline)
proc(lvd_qdc_m_tstsig)
proc(lvd_qdc_m_adcpwr)
proc(lvd_qdc_m_f1mode)
proc(lvd_qdc_m_grpcoinc)
proc(lvd_qdc_m_scalerrout)
proc(lvd_qdc_m_coinmintraw)
proc(lvd_qdc_m_traw)
proc(lvd_qdc_m_coinmin)
proc(lvd_qdc_m_tpdac)
proc(lvd_qdc_m_blcorcycle)
proc(lvd_qdc_r_baseline)
proc(lvd_qdc_r_tcornoise)
proc(lvd_qdc_r_tcor)
proc(lvd_qdc_r_noise)
proc(lvd_qdc_r_dttauquality)
proc(lvd_qdc_r_ovr)
proc(lvd_qdc_w_ctrl)
