proc(InitPCITrigger)
proc(ClearPCITrigger)
dnl proc(StatusPCITrigger)
dnl proc(GetPCITrigData)
dnl proc(GetPCITrigTime)
dnl proc(GetPCITrigTime_2)
proc(WidthPCITrigger)
proc(SyncBit)
proc(SyncOpen)
proc(SyncClose)
proc(SyncRead)
proc(SyncWrite)
proc(SyncAuxOut)
proc(SyncAuxIn)
proc(force_dt)
proc(force_dt_var)
