dnl procs/unixvme/sis3100/procedures.config
dnl $ZEL: procedures.config,v 1.6 2007/04/15 13:13:32 wuestner Exp $

proc(sis3100dsp_reset)
proc(sis3100dsp_start)
proc(sis3100dsp_load)
proc(sis3100dsp_init)
proc(sis3100dsp_readout)
proc(sis3100dsp_readmem1)
proc(sis3100dsp_readmem2)
proc(sis3100dsp_readmem_float1)
proc(sis3100dsp_writemem)
proc(sis3100dsp_fillmem)
proc(sis3100dsp_memsize)
proc(sis3100dsp_divide)
proc(sis3100_read)
proc(sis3100_write)
proc(sis3100_ack)
