dnl procs/dataout/procedures.config
dnl $ZEL: procedures.config,v 1.5 2009/03/12 13:25:14 wuestner Exp $

proc(get_dataoutfile)
proc(set_dataoutlog)
proc(get_dataoutlog)
proc(set_dataoutloginfo)
proc(get_dataoutloginfo)
proc(set_dataoutlinkdir)
proc(get_dataoutlinkdir)
proc(flush_data)
proc(decoding_hints)
proc(importance)
proc(fadvise)
proc(ClusterEvMax)
proc(ClusterTimeMax)
dnl proc(FlushCluster)
