dnl procs/unixvme/procedures.config
dnl $ZEL: procedures.config,v 1.7 2015/04/06 21:33:33 wuestner Exp $

proc(vme_mindmalen)
proc(vme_minpipelen)
proc(vmeread1)
proc(vmewrite1)
proc(vmeread2)
proc(vmewrite2)
proc(vmeread4)
proc(vmewrite4)
proc(vme24read1)
proc(vme24write1)
proc(vme24read2)
proc(vme24write2)
proc(vme24read4)
proc(vme24write4)
proc(vmeread)
proc(vmereadfifo)
proc(vmewrite)
proc(vme24read)
proc(vme24write)

proc(VMEread1)
proc(VMEwrite1)
proc(VMEread2)
proc(VMEwrite2)
proc(VMEread4)
proc(VMEwrite4)
proc(VME24read1)
proc(VME24write1)
proc(VME24read2)
proc(VME24write2)
proc(VME24read4)
proc(VME24write4)
proc(VMEread)
proc(VMEwrite)
proc(VME24read)
proc(VME24write)

proc(VMEverify)
proc(VMEverifylist)
proc(vmecratescan)
proc(vmecratemap)

proc(VMEenableirq)
proc(VMEdisableirq)
proc(VMEacknowledgeirq)
