dnl $ZEL: procedures.config,v 1.5 2008/07/10 13:14:34 wuestner Exp $

proc(HLRALconfig)
proc(HLRALdatapathtest)
proc(HLRALloadtestregs)
proc(HLRALloaddac)
proc(HLRALloaddac_2)
proc(HLRALbuffermode)
proc(HLRALtestreadout)
proc(HLRALstartreadout)
proc(HLRALreadout)
proc(HLRALdummyreadout)
proc(HLRALtest_io)
proc(HLRALtest_dma)
proc(HLRALreset)
proc(HLRALread)
proc(HLRALwrite)
proc(HLRALstart)
