proc(GetDebugMask)
proc(SetDebugMask)
proc(GetVerboseFlag)
proc(SetVerboseFlag)
proc(Error)
proc(T_Error)
proc(Exit)
proc(SendUnsol)
proc(SendUnsolLoop)
proc(SendLoopTime)
proc(SendLoopCount)
proc(SULC)
proc(Delay)
proc(WriteVarSize)
proc(WriteVarRSize)
proc(WriteRandSize)
proc(PrintEvent)
proc(OnReadoutError)
proc(SendVarUnsol)
proc(SendUnsolAlarm)
proc(WriteRandom)
proc(WriteVarSizeRandom)
proc(StdOut)
proc(ReadoutPrior)
proc(MaxevCount)
proc(MaxevInc)
proc(Stream)
proc(SelStat)
proc(xprint)
