dnl procs/unixvme/procedures.config
dnl $ZEL: procedures.config,v 1.21 2015/11/11 19:04:44 wuestner Exp $
dnl created 06.Sep.2002 PW

dnl V259 16 Bit strobed multi hit pattern unit
dnl A24D16
dnl reserves 256 Byte
proc(v259init)
proc(v259read)

dnl V262 multipurpose I/O register
dnl A24D16
dnl reserves 256 Byte
proc(v262clear)
proc(v262read)

dnl V265 8-channel charge integrating ADC
dnl A24D16
dnl reserves 256 Byte
proc(v265init)
proc(v265read)

dnl V462 Dual Gate Generator
dnl A24D16
dnl reserves 256 Byte
proc(v462init)
proc(v462init2)
proc(v462status)
proc(v462trigger)

dnl V512 8 channel 4 fold AND/OR programmable logic unit
dnl A24/32D16
dnl reserves 256 Byte
proc(v512init)
dnl proc(v512irqack)

dnl V560 16-channel 32-bit scaler (100 MHz)
dnl A32D16 (registers) A32D32 (counters)
dnl reserves 256 Byte
proc(v560clear)
proc(v560read)
proc(v560status)
proc(v560incr)

dnl V550 2-channel C-RAMS
dnl A32D16 (registers) A32D32 (FIFOs and pedestal/threshold memory)
dnl reserves 64 KByte
proc(v550clear)
proc(v550status)
proc(v550read)
dnl proc(v550channels)
dnl proc(v550read_dsp)
proc(v550init)
proc(v550fill)

dnl V556 8-channel peak sensing ADC
dnl A32D16
dnl reserves 256 Byte
proc(v556read)
proc(v556init)

dnl V729A 4-channel 12-bit 40 MHz ADC
dnl A32D16 (registers) A32D32/BLT32 (output buffers)
dnl reserves 65536 Byte
proc(v729reset)
proc(v729stop)
proc(v729acqmode)
proc(v729offsets)
proc(v729read)
proc(v729status)
proc(v729samples)
proc(v729clb)
proc(v729pread)
proc(v729prread)
proc(v729pzread)

dnl V775 32-channel TDC
dnl A32D16 (registers) A32D32/BLT32 (data buffer)
dnl reserves 65536 Byte
proc(v775convert)
proc(v775reset)
proc(v775bitset2)
proc(v775bitres2)
proc(v775read)
proc(v775readblock)
proc(v775writethreshold)
proc(v775readthreshold)
proc(v775writetimerange)
proc(v775readtimerange)
proc(v775writeslide)
proc(v775readslide)

dnl V785 32-channel peak sensing ADC
dnl A32D16 (registers) A32D32/BLT32 (data buffer)
dnl reserves 65536 Byte
dnl is (nearly) identically to v792
proc(v785convert)
proc(v785reset)
proc(v785bitset2)
proc(v785bitres2)
proc(v785read)
proc(v785readblock)
proc(v785threshold)

dnl V792 32-channel QDC
dnl A32D16 (registers) A32D32/BLT32 (data buffer)
dnl reserves 65536 Byte
dnl proc(v792init)
dnl proc(v792start)
dnl proc(v792convert)
dnl proc(v792reset)
dnl proc(v792bitset2)
dnl proc(v792bitres2)
dnl proc(v792read)
dnl proc(v792read_all)
dnl proc(v792read_one)
dnl proc(v792flush)
dnl proc(v792readblock)
dnl proc(v792writethreshold)
dnl proc(v792writethreshold2)
dnl proc(v792readthreshold)
dnl proc(v792writepedestal)
dnl proc(v792readpedestal)
dnl proc(v792writeslide)
dnl proc(v792readslide)
dnl proc(v792cblt)

dnl V830 32-channel 32-bit scaler (250 MHz)
proc(v830clear)
proc(v830read)
proc(v830reset)
proc(v830status)

dnl  V1190 128-channel multihit TDC
proc(v1190reset)
proc(v1190control)
proc(v1190status)
proc(v1190irq)
proc(v1190mode)
proc(v1190edges)
proc(v1190resolution)
proc(v1190enablechannel)
proc(v1190enable)
proc(v1190readout)

dnl  V1290 32-channel multihit TDC
proc(v1290roWithDSP)
proc(v1290SetWindow)
proc(v1290CheckHandshake)
proc(v1290SetVHRedge)
proc(v1290LoadCfg)
proc(v1290EnableChipHeader)
proc(v1290EnableChan)

dnl V1729 4-channel 12-bit 2GHz sampling ADC
proc(v1729reset)
proc(v1729calibrate_vernier)
proc(v1729calibrate_pedestals)
proc(v1729start)
proc(v1729trigger)
proc(v1729read)

dnl V1495 general purpose vme board
proc(v1495reset)
proc(v1495ident)

dnl proc(v550)
dnl proc(v551)
dnl proc(v673)
dnl proc(v767)
dnl proc(vn1488)
