proc(CCCC)
proc(CCCI)
proc(CCCZ)
proc(CFSA)
proc(CFUBC)
proc(CSUBC)

proc(nAFslot)

proc(CNAFread)
proc(CNAFread_untilQ)
proc(nAFread)
proc(nAFread_untilQ)
proc(nAFreadQX)

proc(CNAFwrite)
proc(CNAFwrite_untilQ)
proc(CNAFwrite_q)
proc(nAFwrite)
proc(nAFwrite_untilQ)
proc(nAFwrite_q)

proc(CNAFcntl)
proc(CNAFcntl_untilQ)
proc(CNAFcntl_q)
proc(nAFcntl)
proc(nAFcntl_untilQ)
proc(nAFcntl_q)

proc(cqx)
proc(qx)

proc(CNAFblread)
proc(CNAFblwrite)
proc(nAFblread)

proc(CNAFreadQstop)
proc(CNAFreadQstop1)
proc(nAFreadQstop)
proc(nAFreadQstop1)

proc(CNAFreadAddrScan)
proc(nAFreadAddrScan)

proc(nAFreadIntVar)
proc(nAFwriteIntVar)
proc(nAFblreadVar)
proc(nAFblwriteVar)
proc(nAFblreadAddVar)

proc(camacdelay)
proc(camcontrol)
