dnl procs/fastbus/general/procedures.config
dnl $ZEL: procedures.config,v 1.9 2008/07/05 16:25:30 wuestner Exp $

proc(frd)
proc(fwd)
proc(frc)
proc(fwc)
proc(FRD)
proc(FWD)
proc(FRC)
proc(FWC)
proc(FRCB)
proc(FRDB)
proc(simulated_FRDB)
proc(FRDB_S)
proc(FRDBv)
dnl proc(FWCB)
dnl proc(FWDB)
proc(frcb)
proc(frdb)
proc(frdb_s)
proc(FBArbLevel)
proc(FModulID)
proc(FModulList)
proc(FRCM)
proc(FRDM)
proc(FWCM)
proc(FWDM)
proc(frc_multi_1)
proc(frc_multi_2)
proc(FBpulse)
proc(FBin)
proc(FBout)
proc(FBverify)
proc(FBverifylist)
proc(DeadBeef)
proc(RandBeef)
proc(FRDB_multi_init)
proc(FRDB_multi_read)
proc(fb_dmalen)
