dnl ***************************************************************************
dnl *                                                                         *
dnl * procedures.config (real                                                 *
dnl *                                                                         *
dnl * 26.04.93                                                                *
dnl *                                                                         *
dnl ***************************************************************************


proc(PrintReal)
proc(PrintDouble)
proc(ReadReal)
proc(ReadDouble)
dnl proc(ListFloat)
dnl proc(ListDouble)

