dnl server/procs/ip/procedures.config
dnl created 2016-04-27 PeWue
dnl $ZEL: procedures.config,v 1.4 2016/06/24 12:27:37 wuestner Exp $

proc(ip_opaque_init)
dnl proc(ip_opaque_send)
proc(ip_opaque_send_text)
proc(ip_opaque_send_bytes)
proc(ip_opaque_recv_bytes)
proc(ip_opaque_recv_text)
dnl proc(ip_opaque_ask_text)
dnl proc(ip_opaque_ask_bytes)

