proc(FRD)
proc(FWD)
proc(FRD_F)
proc(FRC)
proc(FWC)
proc(FRDB_S)
proc(FRDBv)
proc(FClear)
proc(FPulse)
proc(FGetChi)
proc(FModulID)
proc(FModulList)
proc(FRCM)
proc(FRDM)
proc(FWCM)
proc(FWDM)
proc(OutLevel)
proc(OutClock)
proc(ExtStatus)
proc(FRDL)
proc(FRDBL)
dnl FxxB in general/procedures.config deklariert
dnl proc(FRCB)
dnl proc(FRDB)
dnl proc(FWCB)
dnl proc(FWDB)
