proc(Scaler4434_2_ini)
proc(Scaler2551_2_ini)
proc(Scaler4434_2_clear)
proc(Scaler2551_2_clear)
proc(Scaler4434_2_start)
proc(Scaler2551_2_start)
proc(Scaler4434_2_stop)
proc(Scaler2551_2_stop)
proc(Scaler4434_2_update)
proc(Scaler2551_2_update)
proc(Scaler4434_2_lam)
proc(Scaler2551_2_lam)
proc(Scaler4434_read)
proc(Scaler4434_update_read)
proc(Scaler4434_update_read_n)
proc(Scaler2551_update_read)
