dnl $ZEL: procedures.config,v 1.22 2012/09/11 23:40:37 wuestner Exp $

proc(lvdbus_init)
proc(lvd_init)
proc(lvd_eventcount)
proc(lvd_enumerate)
proc(lvd_a_ident)
proc(lvd_c_ident)
proc(lvd_daqmode)
proc(lvdacq_daqmode)
proc(lvd_trace)
proc(lvd_blockread)
proc(lvd_blockwrite)

proc(lvd_silent_regmanipulation)
proc(lvd_creg)
proc(lvd_creg_2)
proc(lvd_areg)
proc(lvd_aregB)
proc(lvd_aregs)
proc(lvd_test_pulse)
proc(lvd_modulestat)
proc(lvd_controllerstat)
proc(lvd_cratestat)
proc(lvd_localreset)
proc(lvd_force_module_id)

proc(lvd_prepare_single)
proc(lvd_start_single)
proc(lvd_read_single)
proc(lvd_stop_single)
proc(lvd_cleanup_single)

proc(lvd_prepare_async)
proc(lvd_start_async)
proc(lvd_read_async)
proc(lvd_stop_async)
proc(lvd_cleanup_async)
proc(lvd_statist_interval)
proc(lvd_statist)
proc(lvd_parseflags)

proc(lvd_i2c_read)
proc(lvd_i2c_write)
proc(lvd_i2c_dump)

proc(lvd_controller_f1gpx_rate_trigger_period)
proc(lvd_controller_f1gpx_rate_trigger_count)
proc(lvd_controller_f1gpx_extra_trig)
proc(lvd_controller_f1gpx_rate_trig)
