dnl procs/unixvme/sis3820/procedures.config
dnl $ZEL: procedures.config,v 1.2 2015/02/04 20:47:59 wuestner Exp $

proc(sis3820init)
proc(sis3820clear)
proc(sis3820read)
proc(sis3820read_block)
proc(sis3820lne)

proc(sis3820ShadowInit)
proc(sis3820ShadowClear)
proc(sis3820ShadowUpdate)

proc(sis3820EnableIrq)
proc(sis3820DisableIrq)
proc(sis3820StatusIrq)
