dnl server/procs/unixvme/sis3316/procedures.config
dnl created 2015-Mar-11 PW
dnl $ZEL: procedures.config,v 1.9 2017/12/05 16:34:44 wuestner Exp $

proc(sis3316_access)
proc(sis3316_comm)
proc(sis3316_reg)
proc(sis3316_init)
proc(sis3316_reset)
proc(sis3316_read_mem)
proc(sis3316_write_mem)
proc(sis3316_read_chan)
proc(sis3316_readout)
proc(sis3316_readout_udp)
dnl proc(sis3316_readout_interleaved)
proc(sis3316_readout_start)
proc(sis3316_readout_start_split)
proc(sis3316_statistics)

dnl the FPGA Link interface register set (0x00..0x1c) can be reached
dnl   via VME and UDP
dnl some registers have a different meaning depending on the access method:
dnl 
dnl            VME          (both)          UDP
dnl 0x00000000              Control/Status
dnl 0x00000004              Module Id. and Firmware Revision
dnl 0x00000008 Interrupt configuration |    UDP protocol configuration
dnl 0x0000000C Interrupt control       |    last UDP Acknowledge Status
dnl 0x00000010              Interface Access Arbitration control/status
dnl 0x00000014 CBLT/Broadcast Setup    |    Error Counters
dnl 0x00000018 Internal test           |    Ethernet Speed test counter
dnl 0x0000001C              Hardware Version 

dnl information functions
proc(sis3316_serial)
proc(sis3316_memsize)
proc(sis3316_version_vme)
proc(sis3316_version_adc)
proc(sis3316_version_hw)

dnl control registers                           whole module
proc(sis3316_led)                 dnl 0x0000
proc(sis3316_irq)                 dnl 0x0008
proc(sis3316_irq_ctrl)            dnl 0x000c
proc(sis3316_init_mcast)          dnl 0x0014

dnl UDP configuration and readout control       whole module
proc(sis3316_udp_config)          dnl 0x0008
proc(sis3316_udp_ack_status)      dnl 0x000c
proc(sis3316_udp_errors)          dnl 0x0014

dnl VME FPGA registers                          whole module
proc(sis3316_temperature)         dnl 0x0020
proc(sis3316_veto_delay)          dnl 0x003c
proc(sis3316_clock)               dnl 0x0040
proc(sis3316_clock_any)
proc(sis3316_clock_reset)
proc(sis3316_clock_distribution)  dnl 0x0050
proc(sis3316_fb_control)          dnl 0x0058
proc(sis3316_lemo_in)             dnl 0x005c
proc(sis3316_acq_ctrl)            dnl 0x0060
proc(sis3316_lemo_out_co)         dnl 0x0070
proc(sis3316_lemo_out_to)         dnl 0x0074
proc(sis3316_lemo_out_uo)         dnl 0x0078
proc(sis3316_trigg_feedback)      dnl 0x007c
proc(sis3316_prescaler)           dnl 0x00b8
proc(sis3316_itc)                 dnl 0xc0..0xfc

dnl KEY addresses                               whole module or all modules
dnl these procedures can use broadcasts (VME only, not UDP)
proc(sis3316_trigger)             dnl 0x0418
proc(sis3316_clear_timestamp)     dnl 0x041c
proc(sis3316_disarm_arm)          dnl 0x0420

dnl ADC FPGA registers
proc(sis3316_analog_ctrl)         dnl 0x1004    channel
proc(sis3316_set_offset)          dnl 0x1008    channel
proc(sis3316_get_offset)          dnl 0x1108    channel group (why?)
proc(sis3316_event_conf)          dnl 0x1010    channel
proc(sis3316_channel_id)          dnl 0x1014    module
proc(sis3316_mem_threshold)       dnl 0x1018    channel group
proc(sis3316_trigger_gate_length) dnl 0x101c    channel group
proc(sis3316_rawdata_conf)        dnl 0x1020    channel group
proc(sis3316_pre_trigger_delay)   dnl 0x1028    channel group
proc(sis3316_format_conf)         dnl 0x1030    channel
proc(sis3316_maw_test_buffer)     dnl 0x1034    channel group
proc(sis3316_fir_setup)           dnl 0x1040    channel
proc(sis3316_threshold)           dnl 0x1044    channel
proc(sis3316_he_threshold)        dnl 0x1048    channel
proc(sis3316_gate_config)         dnl 0x10a0    channel group
proc(sis3316_fpga_fw)             dnl 0x1100    group
proc(sis3316_sample_address)      dnl 0x1110    channel
proc(sis3316_prev_sample_address) dnl 0x1120    channel

dnl debug functions
proc(sis3316_dump_mod)
proc(sis3316_dump_stat)
proc(sis3316_dump_acq)
proc(sis3316_dump_regs)

dnl temporary debug functions
proc(sis3316_fill_mem)            dnl fill mem with known pattern
proc(sis3316_comp_mem)            dnl compare mem with patterns of fill_mem
proc(sis3316_set_mem)             dnl fill mem with constant value
proc(sis3316_check_mem)           dnl check mem for constant value
proc(sis3316_read_mem_wrong)      dnl read men in vorbidden ways
proc(sis3316_chaotic_mem)         dnl verify mem in a verious ways
